/* Gotham Pro */
@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_light.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_lightitalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_mediumitalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_bolditalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_black.ttf");
  font-weight: 900; }

@font-face {
  font-family: 'Gotham Pro';
  src: local("Gotham Pro"), url("../fonts/gotham_pro/gothampro_blackitalic.ttf");
  font-weight: 900;
  font-style: italic; }

/* / Gotham Pro */
/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Thin.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-ThinItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: 'Raleway';
  src: local("Raleway"), url("../fonts/Raleway/Raleway-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

/* / Raleway */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

html {
  scroll-behavior: smooth; }

html, body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font: 15px/24px 'Gotham Pro', sans-serif;
  color: #333;
  background-color: #fff; }

h1,
.h1 {
  margin-bottom: 20px;
  font: 700 28px/41px 'Gotham Pro', sans-serif;
  color: #000000; }

a.h1 {
  text-decoration: none; }
  a.h1:hover {
    color: #000000; }

h2,
.h2 {
  margin-bottom: 15px;
  font: 700 20px/24px 'Gotham Pro', sans-serif;
  color: #000000; }

h3,
.h3 {
  margin-bottom: 20px;
  font: 18px/20px 'Gotham Pro', sans-serif;
  color: #000000; }

h4,
.h4 {
  font: 700 18px/20px 'Gotham Pro', sans-serif;
  color: #000000; }

.table {
  min-width: 100%;
  margin-bottom: 13px;
  border-collapse: collapse; }

a {
  color: inherit;
  text-decoration: underline; }
  a:hover {
    color: inherit; }

a img {
  border: none; }

p {
  margin-bottom: 20px; }

ul {
  list-style-type: none; }

ol {
  margin-bottom: 20px; }

b {
  font-weight: 700; }

*::before, *::after {
  max-width: 100%; }

main {
  flex: 1 0 auto; }

footer {
  flex: 0 0 auto; }

hr {
  margin-top: 28px;
  margin-bottom: 28px;
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5); }

img, svg {
  max-height: 100%;
  max-width: 100%; }

input {
  max-width: 100%; }

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

button {
  cursor: pointer;
  border: 0;
  outline: none;
  font-family: 'Manrope', sans-serif; }

input,
textarea {
  padding: 6px;
  border-width: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Manrope', sans-serif; }

fieldset {
  border: 0; }

::-webkit-input-placeholder {
  color: #9b9b9b;
  font-size: 13px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #9b9b9b;
  font-size: 13px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9b9b;
  font-size: 13px; }

:-ms-input-placeholder {
  color: #9b9b9b;
  font-size: 13px; }

blockquote {
  margin-bottom: 20px;
  padding-left: 45px;
  position: relative;
  font-size: 17px;
  font-style: italic;
  line-height: 26px;
  border-left: 2px solid #00597d;
  color: #1d1d1d; }
  blockquote:after {
    content: "\f10e";
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: 900;
    font-size: 25px;
    font-style: normal;
    color: #00597d;
    line-height: 24px;
    font-family: "Line Awesome Free"; }

.quote_right {
  width: 49%;
  float: right;
  margin-left: 30px; }

.quote_left {
  float: left;
  width: 49%;
  margin-right: 30px; }

.quote-info {
  margin-bottom: 2px; }

.quote cite {
  font-size: 15px;
  font-style: normal;
  color: #333; }

.cite {
  padding-left: 10px;
  font-style: normal;
  border-left: 2px solid #65ba5c; }

.g-hidden {
  display: none; }

.currency {
  font-family: "ALSRubl"; }

/* scrollbar */
.scrollbar {
  --scrollbar-size: 6px;
  --scrollbar-minlength: 6px;
  --scrollbar-ff-width: thin;
  --scrollbar-track-color: rgba(234,234,234,1);
  --scrollbar-color: rgba(145,144,144,1);
  --scrollbar-color-hover: rgba(145,144,144,1);
  --scrollbar-color-active: rgba(145,144,144,1);
  scrollbar-width: var(--scrollbar-ff-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color); }
  .scrollbar::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size); }
  .scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 3px; }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px; }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover); }
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-active); }
  .scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: var(--scrollbar-minlength); }
  .scrollbar::-webkit-scrollbar-thumb:horizontal {
    min-width: var(--scrollbar-minlength); }

/* scrollbar */
/* simplebar */
.simplebar-track.simplebar-vertical {
  width: 7px; }

.simplebar-scrollbar:before {
  left: 0;
  right: 0; }

.simplebar-track {
  right: 0;
  background-color: transparent; }

.simplebar-scrollbar:before {
  background: #E0E0E0;
  border-radius: 5px; }

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1; }

/* /simplebar */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; }

.main-content {
  padding-bottom: 65px; }

.container {
  min-width: 370px;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px; }

.content ul {
  margin-left: 0;
  margin-top: 7px;
  margin-bottom: 20px; }

.content ul li {
  margin-left: 16px;
  margin-bottom: 16px; }
  .content ul li:last-child {
    margin-bottom: 0; }
  .content ul li:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: -16px;
    margin-right: 10px;
    background-color: #2D2A1E; }

.content ol {
  margin-top: 7px;
  margin-bottom: 47px;
  margin-left: 19px; }

.content ol li {
  margin-bottom: 21px; }

.content img {
  height: auto;
  border-radius: 10px; }

.content figcaption {
  position: relative;
  margin-top: -12px;
  padding: 13px 18px 16px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  text-align: left;
  font-style: italic;
  font-size: 18px; }

.content-video {
  position: relative;
  display: block;
  margin-bottom: 21px; }

.content-video-img {
  display: block; }

.content .list {
  overflow: hidden; }

.content img[align="left"] {
  margin-right: 24px;
  margin-bottom: 15px; }

.content img[align="right"] {
  margin-left: 24px;
  margin-bottom: 15px; }

.content .paragraph {
  clear: both;
  margin-bottom: 3px; }

.content .paragraph-middle {
  clear: both;
  margin-bottom: 17px; }

.img-right {
  float: right;
  margin-left: 24px;
  margin-bottom: 10px; }

.img-left {
  float: left;
  margin-right: 24px;
  margin-bottom: 10px; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
  line-height: 0; }

.clear {
  clear: both; }

.switcher {
  text-decoration: none;
  border-bottom: 1px dashed; }
  .switcher:hover {
    border-bottom-color: transparent; }

/* swiper */
.swiper-pagination-bullets {
  line-height: 0;
  position: static;
  width: auto !important;
  transform: none !important; }

.swiper-pagination-bullet {
  left: 0 !important;
  width: 7px;
  height: 7px;
  background-color: #2873B9;
  opacity: 0.5;
  transition: height 0.3s linear;
  margin-right: 5px !important;
  margin-left: 5px !important; }

.swiper-pagination-bullet-active {
  opacity: 1; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: none; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: none; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: none; }

.swiper-button-lock {
  display: none !important; }

.swiper-button-lock + .slider-count {
  display: none; }

/* /swiper */
/* slider */
.slider-nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.slider-button {
  cursor: pointer; }

.slider-button-icon {
  display: block;
  width: 9px;
  height: 14px;
  background: url("../images/main-banner/icons/arrow-left-light.svg") no-repeat 0 0; }

.slider-button-icon_right {
  background: url("../images/main-banner/icons/arrow-right-light.svg") no-repeat 0 0; }

.slider-button:hover:not(.slider-button_disabled) .slider-button-icon,
.slider-button:active:not(.slider-button_disabled) .slider-button-icon {
  background-image: url("../images/main-banner/icons/arrow-left-white.svg"); }

.slider-button_next:hover:not(.slider-button_disabled) .slider-button-icon_right,
.slider-button_next:active:not(.slider-button_disabled) .slider-button-icon_right {
  background-image: url("../images/main-banner/icons/arrow-right-white.svg"); }

.slider-button_prev {
  margin-right: 11px; }

.slider-button_next {
  margin-left: 11px; }

.slider-button_disabled:hover {
  background-color: transparent; }

.slider-button_disabled .slider-button-icon {
  opacity: 0.4; }

.slider-count {
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.5); }

.slider-count-current {
  font-weight: 600;
  color: white; }

.slider-count-decor {
  width: 19px;
  height: 1px;
  margin-left: 9px;
  margin-right: 11px;
  background-color: #fff; }

@media screen and (max-width: 992px) {
  .slider-nav {
    display: none; } }

/* /slider */
.svg-box {
  display: none; }

.breadcrumbs {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px; }
  .breadcrumbs-list {
    position: relative;
    line-height: 19px;
    padding-top: 2px;
    margin-bottom: 7px;
    min-height: 21px; }
  .breadcrumbs-item {
    display: inline;
    margin-right: 2px;
    font-size: 13px;
    line-height: 19px;
    color: #000000;
    font-weight: 700; }
  .breadcrumbs-item_more {
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 1;
    margin-right: 0;
    padding-right: 5px;
    padding-left: 5px;
    display: none;
    background-color: #fff; }
  .breadcrumbs-link {
    text-decoration: none;
    color: #000000;
    font-weight: 400; }
    .breadcrumbs-link:hover {
      font-weight: 700; }
  .breadcrumbs-icon {
    margin-left: 2px; }
  @media screen and (max-width: 992px) {
    .breadcrumbs {
      margin-bottom: 15px; } }
  @media screen and (max-width: 770px) {
    .breadcrumbs {
      flex-wrap: wrap; }
      .breadcrumbs-list {
        width: calc(100% - 97px); }
      .breadcrumbs_active .breadcrumbs-list {
        white-space: nowrap;
        overflow: hidden; }
      .breadcrumbs_active .breadcrumbs-item_more {
        display: block; }
      .breadcrumbs_show .breadcrumbs-list {
        white-space: normal;
        overflow: visible; }
      .breadcrumbs_show .breadcrumbs-item_more {
        display: none; } }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }

/* pager */
.pager {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }
  .pager-item {
    font-size: 14px;
    line-height: 19px;
    margin-left: 2px;
    margin-right: 2px; }
  .pager-item:last-child {
    margin-right: 0; }
  .pager-item_prev {
    margin-right: 11px; }
  .pager-item_next {
    margin-left: 11px; }
  .pager-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border-radius: 50%; }
    .pager-link:hover {
      color: #fff;
      background-color: #BA001A; }
  .pager-icon {
    display: block;
    width: 21px;
    height: 12px;
    background: no-repeat 0 0; }
  .pager-icon_prev {
    background-image: url(../images/icons/arrow-left-dark.svg); }
  .pager-icon_next {
    background-image: url(../images/icons/arrow-right-dark.svg); }
  .pager-link:hover .pager-icon_prev {
    background-image: url(../images/icons/arrow-left.svg); }
  .pager-link:hover .pager-icon_next {
    background-image: url(../images/icons/arrow-right.svg); }
  .pager-item_active .pager-link {
    color: #fff;
    background-color: #BA001A;
    font-weight: 700; }
  .pager-item_disabled .pager-link:hover {
    background-color: transparent;
    cursor: default; }
  @media screen and (max-width: 992px) {
    .pager {
      display: none; } }

/* /pager */
.icon {
  display: inline-block;
  background: no-repeat 0 0;
  background-size: 100% auto; }
  .icon_buttom {
    min-width: 10px;
    width: 10px;
    height: 6px;
    background-image: url("../images/icons/arrow-bottom.svg"); }
  .icon_burger {
    min-width: 17px;
    width: 17px;
    height: 12px;
    background-image: url("../images/icons/burger.svg"); }
  .icon_close {
    min-width: 24px;
    width: 24px;
    height: 25px;
    background-image: url("../images/icons/close.svg"); }
  .icon_arrow-right {
    min-width: 7px;
    width: 7px;
    height: 11px;
    background-image: url("../images/icons/arrow-right.svg"); }
  .icon_arrow-left {
    min-width: 8px;
    width: 8px;
    height: 11px;
    background-image: url("../images/icons/arrow-left.svg"); }
  .icon_mail {
    min-width: 11px;
    width: 11px;
    height: 8px;
    background-image: url("../images/footer/mail-icon.svg"); }
  .icon_location {
    min-width: 13px;
    width: 13px;
    height: 12px;
    background-image: url("../images/footer/location-icon.svg"); }
  .icon_check {
    min-width: 18px;
    width: 18px;
    height: 18px;
    background-image: url("../images/main-banner/icons/check-icon.svg"); }
  .icon_arrow-right-button {
    min-width: 9px;
    width: 9px;
    height: 15px;
    background-image: url("../images/main-banner/icons/arrow-right-button.svg"); }
  @media screen and (max-width: 992px) {
    .icon_check {
      min-width: 15px;
      width: 15px;
      height: 15px; } }

@media screen and (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px; } }

.field {
  margin-bottom: 20px; }

.input {
  width: 100%;
  height: 33px;
  padding: 7px 20px;
  color: #111111;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  border: 1px solid #BDBDBD;
  border-radius: 17px; }
  .input:focus {
    color: #202430;
    border-color: #333333; }
  .input::placeholder {
    font-size: 13px;
    color: #4F4F4F; }
  .input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus {
    -webkit-text-fill-color: #4F4F4F;
    transition: background-color 1s ease-in-out 0s; }
  .input_textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    resize: none;
    transition: height 0.3s ease-in-out 0s; }
    .input_textarea:-webkit-autofill, .input_textarea:-webkit-autofill:hover, .input_textarea:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff; }
  .input_number {
    -moz-appearance: textfield; }
    .input_number::-webkit-outer-spin-button, .input_number::-webkit-inner-spin-button {
      -webkit-appearance: none; }

input.form-error {
  display: block;
  border-color: #BA001A;
  color: #BA001A; }
  input.form-error:focus {
    border-color: #BA001A; }
  input.form-error::placeholder {
    color: #BA001A; }

label.form-error {
  display: block;
  color: #333;
  font-size: 12px;
  line-height: 20px; }

.checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer; }
  .checkbox-field {
    display: flex; }
  .checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0; }
  .checkbox-check {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 17px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    margin-top: 1px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #333333;
    font-size: 10px;
    color: transparent;
    text-align: center; }
    .checkbox-check:hover {
      cursor: pointer; }
  .checkbox-label {
    font-size: 18px;
    letter-spacing: 0.022em;
    color: #19191D; }
  .checkbox-icon {
    visibility: hidden;
    width: 10px;
    height: 8px;
    margin-top: -1px;
    margin-left: 1px;
    background: url("../images/catalog/catalog-icons/check.svg") no-repeat 0 0; }
  .checkbox-input:checked + .checkbox-check .checkbox-icon {
    visibility: visible; }

.radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .radio-field-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 30px 25px 30px 32px;
    border: 2px solid #E0E0E0;
    border-radius: 15px; }
    .radio-field-wrapper:hover {
      box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
      border-color: transparent; }
  .radio-item {
    margin-bottom: 14px; }
  .radio-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0; }
  .radio-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.01em; }
  .radio-check {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 11px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(206, 206, 206, 0.8); }
    .radio-check:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 12px;
      border-radius: 50%; }
  .radio-input:checked + .radio-check:after {
    background-color: #BA001A; }

.button {
  display: inline-block;
  padding: 6px 20px 7px;
  text-decoration: none;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  border-radius: 50em;
  -webkit-appearance: none;
  text-align: center;
  background-color: transparent;
  font-family: 'Gotham Pro', sans-serif;
  text-transform: uppercase; }
  .button:disabled {
    opacity: 0.8;
    cursor: not-allowed; }
  .button_simple {
    padding: 11px 26px 9px;
    font-size: 10px;
    line-height: 1em;
    letter-spacing: 0.015em;
    color: #000000;
    background-color: rgba(235, 240, 250, 0.8); }
  .button_simple-light {
    padding: 10px 16px 8px;
    font-size: 10px;
    line-height: 1em;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #F2F2F2; }
    .button_simple-light:hover {
      color: #FFFFFF; }
  .button_dark {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 13px 43px 11px 43px;
    font-size: 15px;
    line-height: 1.1em;
    background-color: #213194;
    transition: padding-right 0.2s linear; }
  .button-icon {
    position: absolute;
    top: 6px;
    left: 100%;
    margin-left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out; }
  .button-icon-pic {
    margin-left: 3px; }
  .button_dark:hover {
    padding-right: 60px; }
  .button_dark:hover .button-icon {
    width: 28px;
    height: 28px; }
  @media screen and (max-width: 992px) {
    .button_simple {
      padding-left: 16px;
      padding-right: 16px; }
    .button_simple-light {
      padding-left: 9px;
      padding-right: 9px; }
    .button_dark {
      padding: 12px 32px 10px 32px;
      font-size: 13px; } }

/*selectric*/
.selectric {
  display: flex;
  align-items: center;
  height: 33px;
  border-radius: 22px;
  background-color: transparent;
  padding: 7px 21px 8px 20px;
  border: 0;
  box-shadow: 0 0 15px rgba(171, 171, 171, 0.25); }

.selectric .label {
  margin: 0;
  height: auto;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #000000; }

.selectric-items {
  top: calc(100% + 1px);
  min-width: 195px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #fff;
  border-width: 0;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07); }

.selectric-above .selectric-items {
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.07); }

.selectric-items li {
  padding: 7px 28px;
  font-size: 14px;
  color: #333; }

.selectric-items li:hover {
  background-color: transparent; }

.selectric-items li.highlighted {
  background-color: transparent; }

.selectric-items li.selected {
  color: #BA001A;
  background-color: transparent; }

.selectric-button {
  margin-left: 5px;
  line-height: 0; }

.selectric-open {
  z-index: 10; }

.selectric-icon {
  display: inline-block;
  line-height: 0;
  width: 9px;
  height: 5px;
  background: url("../images/header/header-icons/arrow-bottom.svg") no-repeat 0 0; }

.selectric-hover .selectric {
  border-color: #333; }

.selectric-focus .selectric {
  border-color: #333; }

.selectric-open .selectric {
  border-color: #333; }

.selectric-open .selectric-icon {
  transform: scaleY(-1); }

.selectric-items .select-disable {
  display: none; }

.selectric-items .selectric-hidden {
  display: none; }

@media screen and (max-width: 770px) {
  .selectric-items {
    display: block;
    position: fixed;
    top: auto;
    bottom: -100%;
    left: 0;
    z-index: 1000;
    width: 100% !important;
    padding: 25px 23px 15px;
    border-radius: 15px 15px 0 0;
    transition: bottom 0.3s ease-in-out; }
  .selectric-above .selectric-items {
    top: auto;
    bottom: -100%; }
  .selectric-items .selectric-hidden {
    display: block;
    border-bottom-width: 0;
    padding-top: 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px; }
  .selectric-items li {
    padding: 13px 0 14px;
    border-bottom: 1px solid #E1E1E4;
    text-decoration: none;
    font-size: 15px;
    line-height: 17px; }
    .selectric-items li:last-child {
      border-bottom-width: 0; }
  .selectric-open:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .selectric-open .selectric-items {
    bottom: 0; } }

/*selectric*/
.switch {
  display: flex;
  align-items: center;
  position: relative; }
  .switch-field {
    margin-bottom: 20px; }
  .switch-decor {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 36px;
    min-width: 36px;
    height: 20px;
    margin-right: 15px;
    padding: 2px;
    border-radius: 10px;
    background-color: #E4E8F1;
    cursor: pointer; }
  .switch-decor_simple {
    margin-right: 0; }
  .switch-icon {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.1s ease-in-out 0s; }
  .switch-label {
    line-height: 21px;
    font-size: 13px;
    color: #333333; }
  .switch-label a {
    color: #a0bbc9; }
    .switch-label a:hover {
      text-decoration: none;
      color: #a0bbc9; }
  .switch-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0; }
  .switch-checkbox:checked + .switch-decor {
    background-color: #BA001A; }
  .switch-checkbox:checked + .switch-decor .switch-icon {
    left: 18px; }

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg); } }

.load-more {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 18px; }
  .load-more-icon {
    display: none;
    vertical-align: middle;
    margin-left: 3px;
    width: 16px;
    height: 16px;
    margin-top: -3px;
    background: url("../images/icons/load-more-spinner.svg") no-repeat 0 0;
    background-size: 100% auto; }
  .load-more-link {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    text-decoration: none;
    padding-left: 17px;
    padding-right: 17px; }
  .load-more-label {
    display: inline-block;
    font-size: 13px;
    line-height: 40px;
    color: #4F4F4F; }
  .load-more-switcher {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    color: #333; }
  .load-more_active .load-more-icon {
    display: inline-block;
    animation: preloader-rotate 2s infinite linear; }
  .load-more-pages {
    display: flex;
    justify-content: center; }

/* Fancybox */
.fancybox-bg {
  background-color: rgba(0, 0, 0, 0.6); }

.fancybox-slide {
  padding: 50px 40px; }

.fancybox-content {
  overflow: visible;
  padding: 0; }

.fancybox-close-small {
  width: 33px;
  height: 33px;
  top: -50px;
  padding: 0;
  opacity: 1; }

.fancybox-close {
  position: absolute;
  top: -27px;
  left: 100%;
  z-index: 1;
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background: url("../images/icons/popup-close.svg") no-repeat 0 0; }

.fancybox-close:hover .fancybox-close-icon path {
  fill: #D50A0A; }

.fancybox-nav-block {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.fancybox-button {
  padding: 0;
  vertical-align: middle; }

.fancybox-button--arrow_left {
  width: 33px;
  height: 100%;
  background-color: transparent;
  margin-left: -43px; }

.fancybox-button--arrow_right {
  width: 33px;
  height: 100%;
  background-color: transparent;
  margin-right: -43px; }

.fancybox-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #fff; }

.fancybox-button .fancybox-button-arrow {
  width: 21px;
  height: 12px;
  background: url(../images/icons/arrow-left-dark.svg) no-repeat 0 0; }

.fancybox-button--arrow_right .fancybox-button-arrow {
  background-image: url("../images/icons/arrow-right-dark.svg"); }

.fancybox-button:hover .fancybox-button-icon {
  background-color: #BA001A; }

.fancybox-button:hover .fancybox-button-arrow {
  background-image: url("../images/icons/arrow-left.svg"); }

.fancybox-button--arrow_right:hover .fancybox-button-arrow {
  background-image: url("../images/icons/arrow-right.svg"); }

.fancybox-slide--image .fancybox-close-small {
  top: -50px;
  right: -50px;
  background-color: transparent; }

.fancybox-toolbar {
  display: none; }

.fancybox-infobar {
  display: none; }

@media screen and (max-width: 770px) {
  .fancybox-slide {
    padding: 50px 11px; }
  .fancybox-close {
    top: -32px;
    margin-left: -24px; }
  .fancybox-button--arrow_left {
    margin-left: 10px; }
  .fancybox-button--arrow_right {
    margin-right: 10px; } }

/* /Fancybox */
@keyframes preloader-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%; }
  .preloader-container {
    width: 70px;
    height: 70px;
    border: 6px solid #eaeaea;
    border-top: 6px solid #003589;
    border-radius: 50%;
    animation: preloader-animation 1s linear infinite; }
  @media screen and (max-width: 992px) {
    .preloader {
      width: 70px;
      height: 70px; }
      .preloader-container {
        width: 60px;
        height: 60px; } }

.decor-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.header-top {
  border-bottom: 1px solid rgba(128, 152, 182, 0.5); }

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding-top: 27px;
  padding-bottom: 17px; }

.header-top-item {
  margin-right: 30px; }
  .header-top-item:last-child {
    margin-right: 0; }

.header-top-item_socials {
  margin-right: 0; }

.header-phone {
  position: relative; }

.header-phone-block {
  display: flex;
  align-items: center;
  margin-bottom: 9px; }

.header-phone-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  white-space: nowrap; }
  .header-phone-number a {
    text-decoration: none; }

.header-phone-switcher {
  display: none;
  padding: 5px;
  margin-left: 2px;
  line-height: 0; }

.header-logo {
  display: block;
  min-width: 168px;
  width: 168px; }

.header-phone-department {
  font-size: 11px;
  line-height: 11px;
  color: #1B1B1B; }

.header-phone-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 3;
  width: 200px;
  background-color: #fff;
  padding: 20px 20px 22px;
  box-shadow: 0px 0px 40px rgba(206, 206, 206, 0.3);
  border-radius: 0px 5px 5px 5px; }

.header-phone-list-item {
  margin-bottom: 20px; }
  .header-phone-list-item:last-child {
    margin-bottom: 0; }

.header-phone-list-number {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  white-space: nowrap; }
  .header-phone-list-number a {
    text-decoration: none; }

.header-phone-list-department {
  font-size: 11px;
  line-height: 11px;
  color: #1B1B1B; }

.header-phone_active .header-phone-dropdown {
  display: block; }

.header-callback {
  display: flex;
  align-items: center; }

.header-callback-label {
  margin-right: 10px;
  font-size: 11px;
  line-height: 13px;
  color: #1B1B1B; }

.header-callback-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(33, 49, 148, 0.9); }

.header-callback-icon {
  width: 15px;
  height: 15px;
  background: url("../images/icons/phone.svg") no-repeat 0 0;
  background-size: 100% auto; }

.header-callback-link:hover {
  background-color: #213194; }

.header-callback-link:hover .header-callback-icon {
  background-image: url("../images/icons/phone-light.svg"); }

.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 18px; }

@media screen and (max-width: 992px) {
  .header-top-container {
    height: 63px;
    padding-top: 15px;
    padding-bottom: 12px; }
  .header-top-item_phone {
    margin-left: auto; }
  .header-top-item_logo {
    margin-right: 49px; }
  .header-top-item_phone-simple {
    display: none; }
  .header-top-item_presentation {
    margin-left: auto; }
  .header-top-item_callback {
    margin-left: auto;
    margin-right: 15px; }
  .header-logo {
    min-width: 140px;
    width: 140px; }
  .header-phone-block {
    margin-bottom: 6px; }
  .header-phone-number {
    font-size: 16px;
    line-height: 15px; }
  .header-phone-switcher {
    display: block; }
  .header-phone-department {
    font-size: 10px;
    line-height: 10px; }
  .header-callback-label {
    display: none; }
  .header-menu {
    padding-top: 14px;
    padding-bottom: 15px; }
  .header-phone-list-number {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 15px; }
  .header-phone-list-department {
    font-size: 10px;
    line-height: 10px; }
  .header-callback-icon {
    width: 17px;
    height: 17px; } }

@media screen and (max-width: 770px) {
  .header-top-container {
    height: 61px;
    padding-top: 14px; }
  .header-top-item_phone {
    display: none; }
  .header-top-item_presentation {
    display: none; }
  .header-top-item_socials {
    display: none; }
  .header-menu {
    display: none; }
  .header-callback-link {
    min-width: 35px;
    width: 35px;
    height: 35px; } }

.menu-catalog {
  margin-right: 37px; }
  .menu-catalog-container {
    display: none; }
  .menu-catalog-switcher {
    display: inline-block;
    padding: 12px 34px 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.1em;
    color: #FFFFFF;
    background-color: #213194;
    border-radius: 50em; }
    .menu-catalog-switcher:hover {
      color: #FFFFFF; }
  .menu-catalog-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 7;
    width: 100%;
    padding-top: 5px;
    background-color: #fff; }
  .menu-catalog_active .menu-catalog-container {
    display: block; }
  .menu-catalog-block {
    max-height: calc(100vh - 200px);
    overflow: auto; }
  .menu-catalog-list {
    display: flex;
    flex-wrap: wrap; }
  .menu-catalog-item {
    width: 33.3%;
    margin-bottom: 39px;
    padding-right: 25px; }
    .menu-catalog-item:last-child {
      margin-bottom: 0; }
  .menu-catalog-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #111111;
    text-decoration: none; }
  .menu-catalog-decor-left {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: -1;
    width: 100vw;
    max-width: none;
    height: 100%;
    background-color: #fff; }
  .menu-catalog-decor-right {
    position: absolute;
    top: 0;
    left: 49%;
    z-index: -1;
    width: 100vw;
    max-width: none;
    height: 100%;
    background-color: #fff; }
  .menu-catalog-block .menu-catalog-decor-left {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2); }
  .menu-catalog-block .menu-catalog-decor-right {
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 992px) {
    .menu-catalog {
      margin-right: 20px; }
      .menu-catalog-switcher {
        padding: 11px 22px 10px;
        font-size: 13px; }
      .menu-catalog-label {
        display: none; }
      .menu-catalog-icon {
        margin-right: 0; } }

.submenu-catalog-list {
  padding-top: 21px; }

.submenu-catalog-item {
  margin-bottom: 20px; }
  .submenu-catalog-item:last-child {
    margin-bottom: 0; }

.submenu-catalog-link {
  text-decoration: none; }

.main-menu {
  display: flex;
  align-items: center;
  margin-right: 15px; }
  .main-menu-item {
    position: relative;
    margin-right: 26px; }
    .main-menu-item:last-child {
      margin-right: 0; }
  .main-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #000000;
    white-space: nowrap;
    font-family: 'Raleway', sans-serif; }
    .main-menu-link:hover {
      color: #213194; }
  .main-menu-icon {
    margin-left: 12px; }
  .main-menu-link:hover .main-menu-icon {
    transform: scaleY(-1);
    background-image: url("../images/icons/arrow-bottom-blue.svg"); }
  @media screen and (max-width: 992px) {
    .main-menu-item {
      margin-right: 16px; }
    .main-menu-link {
      font-size: 13px;
      line-height: 15px; }
    .main-menu-icon {
      min-width: 8px;
      width: 8px;
      height: 5px;
      margin-left: 8px; } }

.main-submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -20px;
  z-index: 9;
  width: 242px;
  background-color: #fff;
  padding: 21px 20px 32px;
  box-shadow: 0px 0px 40px rgba(206, 206, 206, 0.3);
  border-radius: 0px 5px 5px 5px; }
  .main-submenu-item {
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 14px; }
    .main-submenu-item:last-child {
      margin-bottom: 0; }
  .main-submenu-link {
    text-decoration: none;
    color: #000000; }
    .main-submenu-link:hover {
      color: #213194;
      font-weight: 500; }

.main-menu-item:hover .main-submenu {
  display: block; }

.mob-menu {
  display: none;
  overflow: hidden; }

.mob-menu-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  min-width: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #213194; }

.mob-menu-switcher-close {
  display: block;
  line-height: 0;
  margin-top: -3px;
  margin-left: auto;
  margin-right: -4px; }

.mob-menu-switcher-icon {
  display: block; }

.mob-menu-close-icon {
  display: block;
  min-width: 16px;
  width: 16px;
  height: 17px;
  background-size: 100% auto; }

.mob-close-panel {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 46px;
  padding: 15px 24px 15px 24px; }

.mob-nav {
  margin-bottom: 29px; }

.mob-company {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .mob-company-logo {
    margin-right: 20px;
    text-decoration: none; }

.mob-close {
  position: relative;
  z-index: 3;
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: -7px;
  background-color: #fff; }

.mob-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: solid #eaeaea;
  border-width: 0 1px 1px 0;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  overflow-x: hidden;
  overflow-y: auto; }

.mob-child {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(100%);
  overflow-x: hidden;
  overflow-y: hidden; }

.mob-menu-decor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 990;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.mob-menu_active .mob-menu-decor {
  display: block; }

.mob-block.open {
  transform: translateX(0); }

.mob-block.open .mob-child {
  display: block; }

.mob-child.open {
  transform: translateX(0); }

.mob-block.mob-is-levels .mob-nav {
  height: 0;
  overflow: hidden; }

.mob-block.mob-is-levels .mob-info {
  height: 0;
  overflow: hidden;
  visibility: hidden; }

.mob-child.mob-child-is-current {
  overflow-y: auto; }

.mob-list {
  margin-left: 24px;
  margin-right: 24px; }

.mob-is-levels .mob-list-item {
  height: 0;
  overflow: hidden; }

.mob-child.mob-child-is-current .mob-list-item {
  height: auto;
  overflow: visible; }

.mob-back {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  padding: 15px 24px;
  background-color: #fff; }
  .mob-back:hover {
    background-color: transparent;
    color: #8a8a8a; }

.mob-back-link {
  display: flex;
  align-items: center;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333;
  text-decoration: none; }
  .mob-back-link:hover {
    color: #333; }

.mob-close-icon {
  display: block;
  width: 18px;
  height: 18px; }

.mob-list-link {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  letter-spacing: 0.02em;
  font-family: 'Raleway', sans-serif; }
  .mob-list-link:hover {
    color: #000000; }

.mob-list-item_active .mob-list-link {
  font-weight: 700; }

.mob-list-current {
  display: flex;
  align-items: center;
  position: relative;
  height: 46px;
  padding: 10px 23px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #ECF0FA;
  text-decoration: none;
  color: #000; }
  .mob-list-current:hover {
    color: #000; }

.mob-list-child-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 57px;
  padding: 12px 40px;
  text-decoration: none;
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d; }
  .mob-list-child-link:hover {
    color: #1d1d1d; }

.mob-back-icon {
  display: block;
  min-width: 7px;
  width: 7px;
  margin-right: 8px; }

.mob-list-img {
  margin-right: 13px;
  vertical-align: middle; }

.mob-list-icon {
  display: block;
  margin-left: auto;
  line-height: 0; }

.mob-link {
  color: #1c1c1c; }

.mob-list-category {
  display: block; }

.mob-user-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px; }

.mob-info {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 25px; }

.mob-info-title {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1d1d1d; }

.mob-user-info {
  display: flex;
  align-items: center; }

.mob-callback-button {
  line-height: 0; }

.mob-socials-title {
  display: block;
  margin-bottom: 12px;
  font-size: 14px; }

.mob-title {
  margin-top: 1px;
  margin-right: 10px;
  font-size: 14px;
  color: #2a364d;
  font-weight: 800;
  text-transform: uppercase; }

.mob-header-link {
  margin-right: auto;
  font-size: 14px;
  font-weight: 700;
  color: #333; }
  .mob-header-link:hover {
    text-decoration: none;
    color: #333; }

.mob-info-name {
  margin-bottom: 8px;
  font-size: 11px;
  line-height: 11px;
  color: #1B1B1B; }

.mob-phone-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #000000; }
  .mob-phone-value a {
    color: #000000;
    text-decoration: none; }
  .mob-phone-value a:hover {
    color: #000000;
    text-decoration: none; }

.mob-callback {
  display: flex;
  align-items: center;
  margin-top: 9px; }

.mob-callback-label {
  margin-right: 10px;
  font-size: 11px;
  line-height: 13px;
  color: #1B1B1B; }

.mob-callback-link {
  background-color: #213194; }

.mob-callback-icon {
  width: 15px;
  height: 15px;
  margin-top: -1px;
  margin-left: 1px;
  background: url(../images/icons/phone-light.svg) no-repeat 0 0;
  background-size: 100% auto; }

@media screen and (max-width: 770px) {
  .mob-menu {
    display: block; } }

body.mob-menu-show {
  overflow: hidden; }

.socials {
  display: flex; }
  .socials-item {
    margin-right: 15px; }
    .socials-item:last-child {
      margin-right: 0; }
  .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(33, 49, 148, 0.9); }
  .socials-icon {
    display: block;
    background: no-repeat 0 0;
    background-size: 100% auto; }
  .socials-icon_tg {
    width: 15px;
    height: 13px;
    margin-left: -1px;
    background-image: url("../images/icons/socials-tg.svg"); }
  .socials-icon_youtube {
    width: 16px;
    height: 11px;
    background-image: url("../images/icons/socials-youtube.svg"); }
  .socials-link:hover {
    background-color: #213194; }
  .socials-link:hover .socials-icon_tg {
    background-image: url("../images/icons/socials-tg-light.svg"); }
  .socials-link:hover .socials-icon_youtube {
    background-image: url("../images/icons/socials-youtube-light.svg"); }
  .socials_light .socials-link {
    border-color: #FFFFFF; }
  .socials_light .socials-icon_tg {
    background-image: url("../images/icons/socials-tg-light.svg"); }
  .socials_light .socials-icon_youtube {
    background-image: url("../images/icons/socials-youtube-light.svg"); }

/* IE 11 */
/* /IE 11 */
.footer {
  background-color: #213194;
  color: #E5E5E5; }
  .footer-main-container {
    display: flex;
    padding-top: 47px;
    padding-bottom: 26px; }
  .footer-item {
    width: 22%;
    padding-right: 20px; }
    .footer-item:last-child {
      padding-right: 0; }
  .footer-item_company {
    width: 18%; }
  .footer-item_menu {
    width: 42%;
    display: flex;
    flex-wrap: wrap; }
  .footer-item_contacts {
    width: 18%;
    margin-left: auto; }
  .footer-bottom {
    border-top: 1px solid rgba(242, 242, 242, 0.4); }
  .footer-bottom-container {
    display: flex;
    min-height: 60px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .footer-logo {
    display: block;
    max-width: 168px;
    margin-bottom: 37px; }
  .footer-logo-img {
    display: block; }
  .footer-menu-name {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .footer-menu-block {
    margin-bottom: 30px;
    width: 42%; }
    .footer-menu-block:nth-child(1) {
      order: -2;
      width: 58%;
      padding-right: 20px; }
    .footer-menu-block:nth-child(2) {
      width: 58%;
      padding-right: 20px;
      margin-bottom: 0; }
    .footer-menu-block:nth-child(3) {
      order: -1; }
    .footer-menu-block:last-child {
      margin-bottom: 0; }
  .footer-menu_simple {
    margin-bottom: 30px; }
  .footer-menu-item {
    margin-bottom: 11px;
    line-height: 18px; }
    .footer-menu-item:last-child {
      margin-bottom: 0; }
  .footer-menu-link {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #E5E5E5; }
    .footer-menu-link:hover {
      color: #E5E5E5;
      text-decoration: underline; }
  .footer-menu-name {
    display: block;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #FFFFFF; }
  .footer-phone {
    margin-bottom: 24px; }
  .footer-phone-list {
    margin-bottom: 12px; }
  .footer-phone-item {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em; }
    .footer-phone-item:last-child {
      margin-bottom: 0; }
    .footer-phone-item a {
      text-decoration: none; }
      .footer-phone-item a:hover {
        text-decoration: underline; }
  .footer-time {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em; }
  .footer-address {
    margin-bottom: 26px; }
  .footer-address-item {
    display: flex;
    margin-bottom: 17px; }
    .footer-address-item:last-child {
      margin-bottom: 0; }
  .footer-address-icon {
    margin-top: 2px;
    margin-right: 7px; }
  .footer-address-icon_mail {
    margin-top: 5px; }
  .footer-address-info {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em; }
    .footer-address-info a:hover {
      text-decoration: none; }
  .footer-copyright {
    width: 50%;
    padding-right: 30px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em; }
  .footer-develop {
    margin-left: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em; }
    .footer-develop a {
      text-decoration: none; }
      .footer-develop a:hover {
        text-decoration: underline; }
  @media screen and (max-width: 992px) {
    .footer-main-container {
      padding-top: 30px;
      padding-bottom: 18px; }
    .footer-logo {
      max-width: 140px;
      margin-bottom: 22px; }
    .footer-item {
      width: 23%;
      padding-right: 15px; }
    .footer-item_menu {
      width: 53%; }
    .footer-item_company {
      width: 24%; }
    .footer-item_buyers {
      display: none; }
    .footer-item_contacts {
      width: 23%; }
    .footer-menu-block {
      margin-bottom: 24px; }
    .footer-menu_simple {
      min-height: auto;
      margin-bottom: 19px; }
    .footer-menu-item {
      margin-bottom: 13px;
      line-height: 14px; }
    .footer-menu-name {
      margin-bottom: 14px;
      font-size: 12px;
      line-height: 15px; }
    .footer-menu-link {
      font-size: 11px; }
    .footer-time {
      font-size: 11px;
      line-height: 14px; }
    .footer-phone {
      margin-bottom: 12px; }
    .footer-phone-list {
      margin-bottom: 13px; }
    .footer-phone-item {
      margin-bottom: 13px;
      font-size: 11px;
      line-height: 14px; }
    .footer-address {
      margin-bottom: 22px; }
    .footer-address-info {
      font-size: 11px;
      line-height: 14px; }
    .footer-menu-name {
      margin-bottom: 12px; }
    .footer-bottom-container {
      min-height: 46px;
      padding-top: 16px;
      padding-bottom: 15px; }
    .footer-copyright {
      font-size: 12px;
      line-height: 15px; }
    .footer-develop {
      font-size: 12px;
      line-height: 15px; } }
  @media screen and (max-width: 770px) {
    .footer-main-container {
      flex-wrap: wrap;
      padding-top: 26px;
      padding-bottom: 15px; }
    .footer-item_company {
      width: 100%;
      padding-right: 0; }
    .footer-item_menu {
      display: none; }
    .footer-item_contacts {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
    .footer-menu_simple {
      display: none; }
    .footer-button-download {
      display: none; }
    .footer-address {
      order: 1;
      width: 100%;
      margin-bottom: 0; }
    .footer-socials {
      margin-left: auto; }
    .footer-bottom-container {
      flex-wrap: wrap;
      flex-direction: column;
      padding-top: 14px;
      padding-bottom: 14px; }
    .footer-phone-list {
      margin-bottom: 20px; }
    .footer-copyright {
      width: auto;
      margin-bottom: 13px;
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 14px;
      border-bottom: 1px solid rgba(242, 242, 242, 0.4); }
    .footer-develop {
      width: 100%; } }

.main-banner {
  position: relative;
  margin-bottom: 77px; }
  .main-banner-list {
    height: 700px; }
  .main-banner-item {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #1A1A1B; }
  .main-banner-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center; }
    .main-banner-container:after {
      content: '';
      position: absolute;
      top: 0;
      left: -225px;
      width: 1064px;
      height: 700px;
      background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.56) 66.17%, rgba(9, 19, 35, 0) 74.97%); }
  .main-banner-pic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    max-width: none;
    object-fit: cover; }
  .main-banner-detail {
    position: relative;
    z-index: 1;
    width: 50%;
    color: #FFFFFF; }
  .main-banner-company {
    margin-bottom: 31px;
    font-size: 18px;
    line-height: 29px; }
  .main-banner-name {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-transform: uppercase; }
  .main-banner-info {
    display: flex;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 26px; }
  .main-banner-info-icon {
    margin-top: 3px;
    margin-right: 16px; }
  .main-banner-block {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
    width: 270px;
    min-height: 360px;
    padding: 30px 23px 141px;
    background-color: #213194;
    border-radius: 5px 5px 0 0;
    color: #fff; }
    .main-banner-block:after {
      content: '';
      position: absolute;
      bottom: -47px;
      left: -73px;
      width: 185px;
      height: 183px;
      background: url("../images/main-banner/main-banner-decor.svg") no-repeat 0 0; }
  .main-banner-block-label {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 64px;
    line-height: 60px; }
  .main-banner-slider-nav {
    position: relative; }
  .main-banner-slider-nav-block {
    position: absolute;
    top: -59px;
    right: 24px;
    z-index: 1; }
  @media screen and (max-width: 992px) {
    .main-banner-list {
      height: 400px; }
    .main-banner-company {
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 24px; }
    .main-banner-name {
      font-size: 28px;
      line-height: 39px; }
    .main-banner-info {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 21px; }
    .main-banner-info-icon {
      margin-top: 3px;
      margin-right: 13px; } }
