
.about {
    position: relative;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: 198px;
        width: 100vw;
        max-width: none;
        height: 100%;
        background-color: #EBF0FA;
    }
    &-container {
        position: relative;
        display: flex;
        padding-top: 85px;
        padding-bottom: 66px;
        &:before {
            content: '';
            position: absolute;
            top: 100px;
            right: 100%;
            width: 997px;
            max-width: none;
            height: 499px;
            margin-right: -29px;
            background: url(../images/about/about-decor-1.png) no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-detail {
        position: relative;
        width: 57%;
        padding-top: 10px;
        padding-right: 56px;
        &:after {
            content: '';
            position: absolute;
            bottom: -50px;
            left: 0;
            width: 132px;
            max-width: none;
            height: 129px;
            margin-left: 259px;
            background: url(../images/about/about-decor-2.png) no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-img {
        width: 43%;
        margin-left: auto;
    }
    &-pic-wrapper {
        display: block;
        position: relative;
        width: 766px;
        height: 420px;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            margin-left: 0;
            width: 409px;
            height: 100%;
            background: linear-gradient(97.82deg, rgba(9, 19, 35, 0.5) 28.95%, rgba(9, 19, 35, 0) 74.85%);
            transform: scaleX(-1);
        }
    }
    &-pic {
        border-radius: 5px;
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-subtitle {
        margin-bottom: 18px;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 0.03em;
    }
    &-content {
        margin-bottom: 33px;
        color: #333333;
    }

    @media screen
    and (max-width: $desktop){
        &:before {
            right: auto;
            left: 0;
            width: 34.7%;
            margin-right: 0;
        }
    }
    @media screen
    and (max-width: $tablet){
        &:before {
            margin-right: 177px;
        }
        &-container {
            padding-top: 65px;
            padding-bottom: 41px;
            &:before {
                top: -26px;
                margin-right: -24px;
            }
        }
        &-pic-wrapper {
            width: 460px;
            height: 294px;
        }
        &-subtitle {
            margin-bottom: 11px;
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            letter-spacing: 0;
        }
        &-detail {
            width: 57%;
            padding-right: 20px;
            &:after {
                bottom: -10px;
                width: 96px;
                height: 80px;
                margin-left: 191px;
            }
        }
        &-content {
            margin-bottom: 23px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &:before {
            width: 53%;
        }
        &-container {
            flex-direction: column;
            padding-top: 58px;
            padding-bottom: 25px;
            &:before {
                top: 225px;
                transform: rotate(-10deg);
            }
        }
        &-detail {
            width: 100%;
            padding-top: 0;
            padding-right: 0;
            margin-bottom: 35px;
        }
        &-img {
            width: auto;
            margin-left: -30px;
            margin-right: -30px;
        }
        &-pic-wrapper {
            width: 100%;
            height: 307px;
        }
        &-pic {
            border-radius: 0;
        }
    }
}

.about-basic {
    overflow: hidden;
    position: relative;
    padding-bottom: 72px;
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-list-item {
        width: 33.3%;
        padding-right: 30px;
        text-align: center;
        border: 1px solid transparent;
        border-right-color:  rgba(128, 152, 182, 0.5);
        &:last-child {
            padding-right: 0;
            border-right-color: transparent;
        }
        &:nth-child(2n + 1) {
            border-right-color: transparent;
        }
    }
    &-list-name {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 96px;
        line-height: 110px;
        color: #213194;
    }
    &-list-info {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #213194;
    }

    @media screen
    and (max-width: $desktop){
        &-list-name {
            font-size: 82px;
            line-height: 100px;
        }
    }
    @media screen
    and (max-width: $tablet){
        padding-bottom: 38px;
        &-list-name {
            margin-bottom: 8px;
            font-size: 55px;
            line-height: 63px;
        }
        &-list-info {
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media screen
    and (max-width: $mobile){
        position: relative;
        padding-bottom: 46px;
        &:before {
            content: '';
            position: absolute;
            top: 114px;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
        }
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            left: -9px;
            width: 45px;
            height: 42px;
            background: url(../images/about/about-decor-3.png) no-repeat 0 0;
            background-size: 100% auto;
        }
        &-list {
            flex-wrap: wrap;
            position: relative;
        }
        &-list-item {
            width: 100%;
            padding-bottom: 14px;
            margin-bottom: 17px;
            padding-right: 0;
            border-right-color: transparent;
            border-bottom-color: rgba(128, 152, 182, 0.5);
            &:first-child {
                border-bottom-color: transparent;
            }
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom-color: transparent;
            }
        }
        &-list-name {
            margin-bottom: 3px;
            font-size: 64px;
            line-height: 74px;
        }
    }
}

.partners {
    margin-bottom: 73px;
    &-container {
        display: flex;
        height: 360px;
    }
    &-block {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 23%;
        min-width: 270px;
        padding: 30px 23px 41px;
        background-color: #213194;
        border-radius: 5px 0 0 5px;
        &:after {
            content: '';
            position: absolute;
            bottom: -47px;
            left: -73px;
            width: 185px;
            height: 183px;
            background: url(../images/main-banner/main-banner-decor.svg) no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-content {
        width: 77%;
        overflow: hidden;
        border: 0 solid rgba(128, 152, 182, 0.5);
        border-width: 1px 1px 1px 0;
    }
    &-block-label {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 64px;
        line-height: 60px;
        color: #fff;
    }
    &-block-inner {
        margin-bottom: 50px;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
    }
    &-nav {
        margin-top: auto;
        margin-left: auto;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-list-item {
        width: 25%;
        height: 179px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0 solid rgba(128, 152, 182, 0.5);
        border-width: 0 1px 1px 0;
        padding: 20px;
        &:nth-child(4n) {
            border-right-width: 0;
        }
        &:nth-child(4) ~ & {
            border-bottom-width: 0;
        }
    }
    &-list-img {}
    &-group {
    }
    &-group-item {}

    @media screen
    and (max-width: $tablet){
        margin-bottom: 60px;
        &-container {
            height: 189px;
        }
        &-block {
            width: 30%;
            min-width: 213px;
            padding: 17px 20px 20px;
            &:after {
                bottom: -33px;
                left: -51px;
                width: 129px;
                height: 127px;
            }
        }
        &-content {
            width: 70%;
        }
        &-block-label {
            margin-bottom: 5px;
            font-size: 36px;
            line-height: 40px;
        }
        &-block-inner {
            font-size: 13px;
            line-height: 21px;
        }
        &-list-item {
            height: 94px;
            padding: 15px;
        }
    }
    @media screen
    and (max-width: $mobile){
        margin-bottom: 57px;
        &-container {
            flex-direction: column;
            height: auto;
        }
        &-block {
            min-width: auto;
            width: 100%;
            min-height: 170px;
            border-radius: 5px 5px 0 0;
            &:after {
                bottom: -47px;
                left: -7px;
            }
        }
        &-content {
            width: 100%;
            border-width: 0 1px 1px 1px;
        }
        &-list-item {
            width: 50%;
            &:nth-child(2n) {
                border-right-width: 0;
            }
            &:nth-child(4) ~ & {
                border-bottom-width: 1px;
            }
            &:nth-child(6) ~ & {
                border-bottom-width: 0;
            }
        }
    }
}

.structure {
    margin-bottom: 86px;
    &-container {
        position: relative;
        background-color: #213194;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 100%;
            z-index: -1;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: #213194;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            z-index: -1;
            width: 100vw;
            max-width: none;
            height: 100%;
            background-color: #213194;
        }
    }
    &-block {
        position: relative;
        z-index: 1;
        display: flex;
        padding-top: 60px;
        padding-bottom: 69px;
        height: 592px;
    }
    &-info {
        display: flex;
        flex-direction: column;
        width: 26%;
        padding-right: 30px;
    }
    &-nav {
        margin-top: auto;
        margin-right: auto;
        margin-bottom: 45px;
    }
    &-content {
        width: 66%;
        overflow: hidden;
        margin-left: auto;
    }
    &-label {
        color: #FFFFFF;
        font-size: 28px;
        line-height: 42px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    &-decor {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1700px;
        max-width: none;
        height: 100%;
        transform: translateX(-50%);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 706px;
            max-width: none;
            height: 100%;
            background: linear-gradient(104.09deg, rgba(33, 49, 148, 0.56) 28.27%, rgba(33, 49, 148, 0) 74.63%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 200px;
            max-width: none;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #213194 100%);
        }
    }
    &-decor-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        max-width: none;
        height: 100%;
        background: linear-gradient(90deg, #213194 0%, transparent 100%);
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../images/structure/structure-img-1.jpg") no-repeat center top;
        background-size: cover;
    }
    &-layout {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 49, 148, 0.85);
    }
    &-name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 145px;
        margin-top: 3px;
        background: url("../images/structure/structure-text.svg") no-repeat left center;
        background-size: 100% auto;
    }
    &-group {
        display: flex;
    }
    &-group-item {
        padding-right: 30px;
    }
    &-list {
        list-style-type: none;
    }
    &-list-item {
        margin-bottom: 29px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-group-item[data-slider-index="2"] &-list-item:nth-child(2) &-list-name {
        max-width:none;
    }
    &-count {
        display: block;
        min-height: 44px;
        text-align: right;
        margin-bottom: 17px;
        font-weight: 700;
        font-size: 32px;
        line-height: 25px;
        color: #FFFFFF;
        writing-mode: vertical-rl;
        transform: scale(-1);
    }
    &-list-item:hover &-count {
        color: #FF9016;
    }
    &-list-name {
        position: relative;
        min-height: 67px;
        max-width: 325px;
        padding-left: 35px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        font-weight: 500;
        &:after {
            content: '';
            position: absolute;
            top: 6px;
            left: 1px;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    @media screen
    and (max-width: $desktop){
        &-content {
            width: 74%;
        }
    }
    @media screen
    and (max-width: $tablet){
        margin-bottom: 65px;
        &-block {
            padding-top: 34px;
            padding-bottom: 44px;
            height: 497px;
        }
        &-info {
            width: 30%;
        }
        &-content {
            width: 69%;
        }
        &-label {
            font-size: 20px;
            line-height: 30px;
        }
        &-group-item {
            padding-right: 10px;
        }
        &-list-name {
            min-height: 57px;
            font-size: 16px;
            line-height: 24px;
        }
        &-count {
            min-height: 35px;
            margin-bottom: 12px;
            font-size: 28px;
        }
        &-list-name {
            min-height: 67px;
            max-width: 325px;
            padding-left: 25px;
        }
        &-nav {
            margin-bottom: 41px;
        }
        &-decor {
            width: calc(100% + 60px);
            &:before {
                width: 426px;
                background: linear-gradient(104.09deg, rgba(33, 49, 148, 0.56) 28.27%, rgba(33, 49, 148, 0) 74.63%);
            }
            &:after {
                display: none;
            }
        }
        &-img {
            background-image: url("../images/structure/structure-img-2.jpg");
        }
        &-decor-1 {
            display: none;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-block {
            flex-direction: column;
            height: auto;
            min-height: 543px;
            padding-bottom: 47px;
        }
        &-info {
            width: 100%;
            padding-right: 0;
            margin-bottom: 19px;
        }
        &-content {
            width: 100%;
            margin-bottom: 35px;
        }
        &-nav {
            position: absolute;
            bottom: 44px;
            left: 0;
            margin-bottom: 0;
        }
        &-list-item {
            margin-bottom: 31px;
        }
        &-list-name {
            min-height: 50px;
            max-width: 255px;
        }
        &-name {
            top: 220px;
            left: 100%;
            transform: rotate(-90deg);
            width: 493px;
            height: 115px;
            margin-left: -300px;
        }
    }
}


.stages {
    position: relative;
    display: flex;
    margin-bottom: 73px;
    &:before {
        content: '';
        position: absolute;
        top: -303px;
        left: 100%;
        z-index: -1;
        width: 1045px;
        max-width: none;
        height: 1145px;
        margin-left: -84px;
        background: url(../images/stages/stages-bgr-2.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-slider {
        position: relative;
        width: 51%;
        height: 586px;
    }
    &-detail {
        width: 47%;
        padding-top: 36px;
        padding-left: 61px;
    }
    &-slider-inner {
        position: absolute;
        top: 0;
        right: 0;
        width: 902px;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 287px;
            height: 100%;
            background: linear-gradient(99.03deg, rgba(9, 19, 35, 0.22) 15.81%, rgba(9, 19, 35, 0) 62.7%);
            border-radius: 5px 0 0 5px;
        }
    }
    &-years-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        background: url(../images/stages/stages-bgr-1.jpg) no-repeat 0 0;
        background-size: cover;
    }
    &-title {
        line-height: 48px;
        margin-bottom: 17px;
    }
    &-info {
        margin-bottom: 38px;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
    }
    &-list {
        margin-left: 40px;
    }
    &-list-item {
        display: none;
    }
    &-list-item_active {
        display: block;
    }
    &-subtitle {
        margin-bottom: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        color: #111111;
    }
    &-content {
        max-width: 420px;
    }
    &-years-wrapper {
        position: relative;
        height: 100%;
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1px;
            margin-right: -62px;
            width: 136px;
            height: 1px;
            background-color: #000000;
            opacity: 0.7;
        }
    }
    &-years {
        overflow: hidden;
        width: 360px;
        height: 100%;
        margin-left: auto;
        margin-right: 135px;
        position: relative;
        padding-top: 49px;
        padding-bottom: 49px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    &-years-block {
        overflow: hidden;
        position: relative;
        height: 339px;
        margin-top: 43px;
        margin-bottom: 0;
    }
    &-years-list {
    }
    &-years-item {
        width: auto;
        height: 70px;
        padding-left: 85px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 50%;
            width: 7px;
            height: 7px;
            margin-left: -3px;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    &-years-name {
        width: 90px;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        font-weight: 500;
    }
    &-button {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.8);
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        &:hover:not(.slider-button_disabled) {
            background-color: #213194;
            border-color: #213194;
        }
        &:active:not(.slider-button_disabled) {
            background-color: #0E1E82;
            border-color: #0E1E82;
        }
    }
    &-button.slider-button_disabled {
        opacity: 0.5;
        cursor: default;
    }
    &-button-icon {
        display: block;
        width: 14px;
        height: 9px;
        background: no-repeat 0 0;
        background-size: 100% auto;
    }
    &-button_prev {}
    &-button_prev &-button-icon {
        margin-left: 1px;
        background-image: url(../images/card/card-icons/arrow-top-light.svg);
    }
    &-button_next {
    }
    &-button_next &-button-icon {
        margin-top: 2px;
        background-image: url(../images/card/card-icons/arrow-bottom-light.svg);
    }
    &-years-current {
        display: none;
    }
    &-years-next {
        display: none;
    }
    &-years-item.swiper-slide-active &-years-name {
        width: 155px;
        text-align: right;
        margin-top: -12px;
        margin-left: auto;
        font-weight: 700;
        font-size: 46px;
        line-height: 43px;
    }
    &-years-item.swiper-slide-active {
        &:after {
            content: '';
            position: absolute;
            top: -14px;
            left: 50%;
            transform: translateX(-50%);
            width: 46px;
            height: 46px;
            border: 2px solid #FFFFFF;
            border-radius: 50%;
        }
    }
    @media screen
    and (max-width: $tablet){
        margin-bottom: 60px;
        &:before {
            top: -65px;
            width: 500px;
            height: 400px;
            margin-left: -52px;
        }
        &-slider {
            width: 49%;
            height: 419px;
        }
        &-detail {
            width: 51%;
            padding-top: 10px;
            padding-left: 25px;
        }
        &-slider-inner {
            width: 471px;
            &:before {
                width: 381px;
                background: linear-gradient(127.52deg, rgba(9, 19, 35, 0.57) 18.64%, rgba(9, 19, 35, 0) 68.94%);
            }
        }
        &-title {
            margin-bottom: 22px;
            line-height: 34px;
        }
        &-info {
            margin-bottom: 21px;
            font-size: 14px;
            line-height: 21px;
        }
        &-list {
            margin-left: 0;
        }
        &-subtitle {
            margin-bottom: 14px;
            font-size: 20px;
            line-height: 27px;
            letter-spacing: -0.02em;
        }
        &-content {
            line-height: 22px;
        }
        &-years-wrapper {
            &:after {
                margin-top: -1px;
                margin-right: -14px;
                width: 30px;
            }
        }
        &-years {
            width: 200px;
            padding-top: 13px;
            padding-bottom: 13px;
            margin-right: 50px;
        }
        &-years-block {
            margin-top: 40px;
            height: 270px;
            margin-bottom: 15px;
        }
        &-years-item {
            height: 55px;
            padding-left: 23px;
            &:before {
                width: 6px;
                height: 6px;
            }
        }
        &-button {
            width: 32px;
            height: 32px;
        }
        &-years-name {
            font-size: 14px;
            line-height: 21px;
        }
        &-years-item.swiper-slide-active {
            &:after {
                top: -9px;
                width: 35px;
                height: 35px;
            }
        }
        &-years-item.swiper-slide-active &-years-name {
            width: 79px;
            margin-top: -8px;
            font-size: 24px;
            line-height: 36px;
        }
    }
    @media screen
    and (max-width: $mobile){
        flex-direction: column;
        height: 584px;
        margin-left: -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
        &:before {
            display: none;
        }
        &-slider {
            position: static;
            width: 100%;
            height: 0;
            order: 1;
        }
        &-years-wrapper {
            height: auto;
            margin-top: -70px;
            &:after {
                display: none;
            }
        }
        &-years-block {
            position: absolute;
            top:0;
            left: 0;
            visibility: hidden;
            overflow: hidden;
            width: 30px;
            height: 50px;
            margin-top: 0;
            margin-bottom: 0;
        }
        &-detail {
            position: relative;
            z-index: 1;
            width: auto;
            height: 100%;
            padding-top: 28px;
            margin-bottom: 85px;
            padding-left: 0;
        }
        &-years {
            overflow: visible;
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            &:before {
                display: none;
            }
        }
        &-years-name {
            width: auto;
            min-width: 45px;
        }
        &-slider-inner {
            position: static;
            width: 100%;
            &:before {
                width: 100%;
            }
        }
        &-title {
            color: #FFFFFF;
        }
        &-info {
            color: #FFFFFF;
        }
        &-subtitle {
            color: #FFFFFF;
        }
        &-content {
            color: #FFFFFF;
        }
        &-button {
            width: 35px;
            height: 35px;
            margin-left: 0;
            margin-right: 0;
        }
        &-button-icon {
            width: 8px;
            height: 12px;
        }
        &-button_prev &-button-icon {
            margin-left: 0;
            background-image: url(../images/icons/slider-arrow-left-light.svg);
        }
        &-button_next &-button-icon {
            margin-top: 0px;
            background-image: url(../images/icons/slider-arrow-right-light.svg);
        }
        &-button_next {
            margin-left: 12px;
        }
        &-years-current {
            display: block;
            margin-right: 11px;
        }
        &-years-current &-years-name {
            min-width: 52px;
            font-size: 18px;
        }
        &-years-next {
            display: block;
            margin-left: 11px;
            text-align: right;
        }
        &-years-img {
            width: 100vw;
            border-radius: 0;
        }
    }
}
