
.card {
    &-container {
        position: relative;
        display: flex;
        margin-bottom: 40px;
        &:after {
            content: '';
            position: absolute;
            top: 352px;
            right: -860px;
            width: 742px;
            height: 827px;
            background: url(../images/avail/avail-decor-1.png) no-repeat 0 0;
            background-size: 100% auto;
            transform: scaleX(-1);
        }
    }
    &-gallery {
        width: 51%;
        padding-right: 30px;
        display: flex;
    }
    &-detail {
        width: 49%;
    }

    &-gallery-thumbs {
        position: relative;
        flex-flow: column wrap;
        height: 100%;
        cursor: pointer;
    }
    &-gallery-thumbs-wrapper {
        min-width: 70px;
        width: 70px;
        margin-right: 30px;
    }
    &-gallery-thumbs-inner {
        overflow: hidden;
        height: 376px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    &-gallery-main {
        position: relative;
        height: 564px;
        width: 100%;
        overflow: hidden;
    }
    &-gallery-main-list {}
    &-gallery-main-item {
        width: 100%;
    }
    &-gallery-link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
    }
    &-gallery-thumbs-list {
        z-index: auto;
    }
    &-thumbs-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 75px;
        border: 1px solid transparent;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }
    &-gallery-img {
    }
    &-thumbs-pic {
        display: block;
        height: 100%;
    }
    &-thumbs-item.swiper-slide-thumb-active {
        border: 1px solid #213194;
    }
    &-thumbs-item.swiper-slide-thumb-active &-thumbs-pic {
        border: 5px solid #fff;
    }
    &-thumbs-img {
        display: block;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    &-gallery-button {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 0px 15px rgba(193, 201, 220, 0.5);
        &:hover {
            background-color: #213194;
        }
    }
    &-gallery-button_disabled {
        opacity: 0.4;
        &:hover {
            background-color: transparent;
        }
    }
    &-gallery-button_left {}
    &-gallery-button_right {}
    &-gallery-icon {
        display: block;
        width: 14px;
        height: 9px;
        background: no-repeat 0 0;
        background-size: 100% auto;
    }
    &-gallery-button_left &-gallery-icon {
        background-image: url(../images/card/card-icons/arrow-top-blue.svg);
    }
    &-gallery-button_right &-gallery-icon {
        margin-top: 3px;
        background-image: url(../images/card/card-icons/arrow-bottom-blue.svg);
    }
    &-gallery-button:not(&-gallery-button_disabled):hover &-gallery-icon {
        background-image: url(../images/card/card-icons/arrow-top-light.svg);
    }
    &-gallery-button_right:not(&-gallery-button_disabled):hover &-gallery-icon {
        background-image: url(../images/card/card-icons/arrow-bottom-light.svg);
    }


    &-panel {
        display: flex;
        padding-bottom: 14px;
        margin-bottom: 21px;
        border-bottom: 1px solid rgba(128, 152, 182, 0.5);
    }
    &-name {
        margin-right: auto;
        margin-bottom: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 23px;
        line-height: 33px;
        color: #111111;
        text-transform: none;
    }
    &-marks {
        margin-left: 60px;
        margin-top: 7px;
    }
    &-marks-item {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-price {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: #131A29;
    }
    &-buttons {
        display: flex;
        align-items: flex-start;
        margin-bottom: 27px;
    }
    &-button {
        flex-grow: 1;
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-button_review {
        font-weight: 500;
    }
    &-button_callback {}
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        width: 40px;
        height: 40px;
        margin-right: 25px;
        background-color: #213194;
        border-radius: 50%;
        &:active {
            background-color: #0E1E82;
        }
    }
    &-link-icon { }
    &-content {
        margin-bottom: 13px;
        line-height: 22px;
        ul {
            margin-bottom: 0;
        }
        ul li {
            margin-left: 10px;
            margin-bottom: 13px;
        }
        ul li:before {
            width: 4px;
            height: 1px;
            margin-right: 3px;
            margin-left: -8px;
            background-color: #333;
        }
    }
    &-subtitle {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.03em;
    }
    &-more {
        white-space: nowrap;
        font-size: 15px;
        line-height:  19px;
        letter-spacing: 0.01em;
        text-decoration-line: underline;
        color: #213194;
        font-weight: 500;
        &:hover {
            text-decoration: none;
            color: #213194;
        }
    }
    &-more-icon {
        vertical-align: middle;
        margin-left: 11px;
    }
    &-advantages {
        margin-top: 19px;
        padding-top: 19px;
        border-top: 1px solid rgba(128, 152, 182, 0.5);
    }
    &-advantages-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-advantages-list-item {
        display: flex;
        width: 45%;
        margin-bottom: 12px;
        padding-right: 30px;
        &:nth-child(2n) {
            width: 55%;
            padding-right: 0;
        }
    }
    &-advantages-name {
        display: block;
        margin-bottom: 6px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.022em;
        color: #111111;
    }
    &-advantages-info {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.022em;
        b {
            color: #213194;
            font-weight: 500;
        }
    }
    &-advantages-icon {
        min-width: 30px;
        width: 30px;
        margin-right: 10px;
        text-align: center;
    }
    &-advantages-detail {}
    &-connection {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 78px;
    }
    &-connection-item {
        width: 50%;
        height: 298px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media screen
    and (min-width: $desktop){
        &-button {
            padding-left: 28px;
            padding-right: 28px;
        }
    }
    @media screen
    and (max-width: $desktop){
        &-gallery {
            width: 49%;
            padding-right: 22px;
        }
        &-gallery-main {
            height: 470px;
        }
        &-gallery-thumbs-inner {
            height: 345px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        &-detail {
            width: 51%;
        }
        &-link {
            margin-right: 10px;
        }
        &-button_callback:hover {
            padding-right: 42px;
        }
    }
    @media screen
    and (min-width: $tablet){
        &-button {
            margin-right: 10px;
            padding-left: 11px;
            padding-right: 11px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-container {
            margin-bottom: 45px;
        }
        &-gallery {
            width: 51%;
        }
        &-gallery-thumbs-wrapper {
            min-width: 45px;
            width: 45px;
            margin-right: 20px;
        }
        &-gallery-thumbs-inner {
            height: 233px;
            margin-top: 14px;
            margin-bottom: 14px;
        }
        &-gallery-button {
            width: 35px;
            height: 35px;
        }
        &-thumbs-item {
            height: 49px;
        }
        &-gallery-main {
            height: 352px;
        }
        &-thumbs-item.swiper-slide-thumb-active &-thumbs-pic {
            border-width: 3px;
        }
        &-gallery-icon {
            width: 10px;
            height: 6px;
        }
        &-detail {
            position: relative;
        }
        &-name {
            font-size: 16px;
            line-height: 23px;
        }
        &-panel {
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 13px;
            margin-bottom: 13px;
            padding-right: 0;
        }
        &-marks {
            order: -1;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 10px;
        }
        &-price {
            margin-bottom: 13px;
            font-size: 17px;
            line-height: 22px;
        }
        &-link {
            min-width: 35px;
            width: 35px;
            height: 35px;
            margin-right: 0;
        }
        &-buttons {
            margin-bottom: 24px;
            flex-wrap: wrap;
        }
        &-button {
            margin-right: 15px;
            margin-bottom: 17px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-button_review {
            order: -1;
        }
        &-button_callback {
            width: 100%;
        }
        &-content {
            margin-bottom: 17px;
            line-height: 21px;
        }
        &-subtitle {
            margin-bottom: 14px;
            font-size: 14px;
            line-height: 21px;
        }
        &-advantages {
            margin-top: 19px;
            padding-top: 14px;
        }
        &-more {
            font-size: 14px;
        }
        &-more-icon {
            margin-left: 8px;
        }
        &-advantages-list-item {
            width: 100%;
            padding-right: 0;
            margin-bottom: 13px;
            &:nth-child(2n) {
                width: 100%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-advantages-name {
            font-size: 14px;
            line-height: 21px;
        }
        &-advantages-info {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: normal;
        }
    }

    @media screen
    and (max-width: $mobile){
        &-container {
            flex-wrap: wrap;
            margin-bottom: 37px;
        }
        &-gallery {
            width: 100%;
            padding-right: 0;
        }
        &-gallery-thumbs-wrapper {
            display: none;
        }
        &-detail {
            width: 100%;
        }
        &-gallery-main {
           margin-bottom: 25px;
        }
        &-buttons {
            margin-bottom: 31px;
        }
    }
}

.characteristics {
    margin-bottom: 85px;
    &-menu-wrapper {
        margin-bottom: 34px;
        border-bottom: 1px solid rgba(128, 152, 182, 0.5);
    }
    &-menu {
        display: flex;
        margin-bottom: -1px!important;
    }
    &-menu-item {
        width: auto;
        margin-right: 30px;
        padding-bottom: 21px;
        border-bottom: 2px solid transparent;
        &:last-child {
            margin-right: 0;
        }
    }
    &-menu-link {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #111111;
        text-decoration: none;
        &:hover {
            color: #000000;
        }
    }
    &-menu-item_active {
        font-weight: 700;
        border-bottom-color: #213194;
    }
    &-menu-item_active &-menu-link {
        font-weight: 700;
        color: #213194;
    }

    &-item {
        display: none;
    }
    &-item_active {
        display: block;
    }
    &-name {
        margin-bottom: 27px;
        letter-spacing: 0.01em;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 48px;
        &-menu-wrapper {
            margin-bottom: 16px;
        }
        &-menu-item {
            margin-right: 0;
            padding-bottom: 15px;
        }
        &-menu-link {
            font-size: 13px;
            line-height: 16px;
        }
        &-name {
            margin-bottom: 21px;
            font-size: 15px;
            line-height: 19px;
        }
        &-table {
            overflow: auto;
            max-width: 1000px;
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 30px;
            padding-right: 30px;
            .simplebar-track {
                display: none;
            }
        }
    }
    @media screen
    and (max-width: $mobile){
        &-menu-wrapper {
            margin-bottom: 21px;
        }
    }
}
