
.catalog-category {
    &-wrapper {
        overflow: hidden;
        margin-top: -20px;
        padding-top: 20px;
        padding-bottom: 85px;
    }
    &-container {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: -4px;
            left: -100%;
            margin-left: -81px;
            width: 1274px;
            height: 1740px;
            background: url(../images/catalog-category/catalog-category-decor-3.png) no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-element {}
    &-element-item {}
    &-list {
        display: -ms-grid;
        -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
        -ms-grid-rows: 1fr 30px 1fr;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    &-list-item {
        -ms-grid-column-span: 1;
        -ms-grid-row-span: 1;
        &:nth-child(2) {
            -ms-grid-column: 3;
        }
        &:nth-child(3) {
            -ms-grid-column: 5;
        }
        &:nth-child(4) {
            -ms-grid-column: 3;
            -ms-grid-row: 3;
        }
        &:nth-child(5) {
            -ms-grid-column: 5;
            -ms-grid-row: 3;
        }
    }
    &-list-item_long {
        -ms-grid-row: 1;
        -ms-grid-row-span: 3;
        grid-row: 1/3;
    }
    &-block {
        min-height: 357px;
        height: 100%;
        padding: 27px 29px 21px;
        background-color: #ECF0FA;
        border-radius: 5px;
    }
    &-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-name {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin-bottom: 23px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #111111;
        text-decoration: none;
    }
    &-menu {
        margin-bottom: 10px;
    }
    &-menu-item {
        margin-bottom: 19px;
        line-height: 26px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-menu-link {
        text-decoration: none;
        font-size: 17px;
        color: #333333;
        &:hover {
            font-weight: 500;
        }
    }
    &-link {
        display: block;
        margin-top: auto;
    }
    &-img {
        display: block;
    }
    &-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        background: url("../images/catalog-category/catalog-category-decor-1.svg") no-repeat center center;
    }
    &-list-item_long &-name {
        position: static;
    }
    &-list-item_long &-pic {
        height: 290px;
    }
    &-more {
        display: block;
        margin-bottom: 6px;
        font-size: 17px;
        line-height: 17px;
        text-decoration-line: underline;
        color: #111111;
        font-weight: 500;
    }
    &-button {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #213194;
    }
    &-icon {
        margin-right: -3px;
    }


    @media screen
    and (min-width: $tablet){
        &-block:hover {
            background-color: #fff;
            box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
        }
        &-block:hover &-pic {
            background-image: url("../images/catalog-category/catalog-category-decor-2.svg");
        }
        &-block:hover &-button {
            visibility: visible;
        }
        &-block:hover &-more {
            visibility: hidden;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-wrapper {
            padding-bottom: 65px;
        }
        &-block {
            min-height: 205px;
            padding: 19px 20px 21px;
        }
        &-list {
            grid-column-gap: 25px;
            grid-row-gap: 19px;
        }
        &-menu-item {
            margin-bottom: 14px;
            line-height: 18px;
            &:nth-child(3) {
                margin-bottom: 0;
            }
            &:nth-child(3) ~ & {
                display: none;
            }
        }
        &-menu-link {
            font-size: 14px;
        }
        &-pic {
            height: 125px;
            background-size: contain;
        }
        &-name {
            margin-bottom: 16px;
            font-size: 12px;
            line-height: 18px;
        }
        &-more {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 14px;
        }
        &-list-item_long &-pic {
            height: 150px;
        }
        &-button {
            width: 30px;
            height: 30px;
        }
        &-icon {
            margin-right: -1px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-element-item {
            width: 700px;
        }
        &-list {
            grid-column-gap: 20px;
            grid-row-gap: 16px;
        }
    }
}

.connection {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 31px;
        left: 100%;
        width: 236px;
        height: 196px;
        margin-left: -11px;
        background: url(../images/connection/connection-decor.png) no-repeat 0 0;
        background-size: 100% auto;
    }
    &-list {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
    }
    &-item {
        width: 26%;
        min-height: 280px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &-item_video {
        width: 48%;
    }
    &-video {
        position: relative;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;
        display: block;
    }
    &-video-preview {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-socials {
        height: 100%;
        padding: 32px 30px;
        border: 2px solid #FF9016;
        border-radius: 5px;
    }
    &-socials-name {
        margin-bottom: 20px;
    }
    &-socials-info {
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #333333;
    }
    &-callback {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 32px 30px;
        background-color: #213194;
        border-radius: 5px;
        text-decoration: none;
    }
    &-callback-name {
        color: #fff;
    }
    &-socials-label-2 {}
    &-callback-info {
        margin-bottom: 16px;
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
    }
    &-callback-link {
        margin-top: auto;
        margin-right: auto;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-decoration: underline;
        color: #FFFFFF;
    }
    &-callback:hover &-callback-link {
        color: #FFFFFF;
        text-decoration: none;
    }

    &_simple {
        &:after {
            display: none;
        }
    }

    @media screen
    and (max-width: $desktop){
        &-socials {
            padding: 25px 22px;
        }
        &-socials-name {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 26px;
        }
        &-callback {
            padding: 25px 22px;
        }
        &-callback-name {
            margin-bottom: 15px;
            font-size: 20px;
            line-height: 26px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &:after {
            top: -87px;
            left: 0;
            width: 54px;
            height: 199px;
            margin-left: -29px;
            background: url(../images/connection/connection-decor-1.png) no-repeat 0 0;
        }
        &-list {
            margin-left: -10px;
            margin-right: -10px;
        }
        &-item {
            width: 29%;
            min-height: 180px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &-item_video {
            width: 42%;
        }
        &-socials {
            padding: 17px 16px 18px;
        }
        &-socials-name {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
        }
        &-socials-info {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 17px;
        }

        &-callback {
            padding: 17px 18px 22px;
        }
        &-callback-name {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 20px;
        }
        &-callback-info {
            margin-bottom: 10px;
            font-size: 12px;
            line-height: 17px;
        }
        &-callback-link {
            font-size: 14px;
            line-height: 18px;
        }
        &_simple {
            &:after {
                display: block;
            }
        }
    }
    @media screen
    and (max-width: $mobile){
        &:after {
            display: none;
        }
        &-list {
            flex-wrap: wrap;
            margin-left: 0;
            margin-right: 0;
        }
        &-item_video {
            height: 180px;
            min-height: auto;
        }
        &-item {
            width: 100%;
            min-height: auto;
            margin-bottom: 25px;
            padding-left: 0;
            padding-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-callback {
            min-height: 143px;
        }
        &-socials {
            min-height: 143px;
        }
        &-item_video {
            width: 100%;
        }
        &-socials-label-1 {
            &:after {
                content: '.';
            }
        }
        &-socials-label-2 {
            display: none;
        }
    }
}
