
$colorPlaceholder: #4F4F4F;

.field {
    display: block;
    margin-bottom: 25px;
    &-row {
        display: flex;
        margin-left: -13px;
        margin-right: -13px;
    }
    &-col-2 {
        width: 50%;
        padding-left: 13px;
        padding-right: 13px;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 23px;
        &-row {
            flex-direction: column;
        }
        &-col-2 {
            width: 100%;
        }
    }
    @media screen
    and (max-width: $mobile){
    }
}

.input {
    width: 100%;
    height: 43px;
    padding: 10px 20px 9px;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    border: 1px solid rgba(128, 152, 182, 0.6);
    border-radius: 50em;
    &:focus {
        color: #333333;
        border-color: #333333;
    }
    &::placeholder {
        font-size: 14px;
        color: $colorPlaceholder;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
        -webkit-text-fill-color: $colorPlaceholder;
        transition: background-color 1s ease-in-out 0s;
    }

    &_textarea {
        display: block;
        width: 100%;
        min-height: 80px;
        overflow: hidden;
        background-color: #fff;
        resize: none;
        border-radius: 10px;
        transition: height 0.3s ease-in-out 0s;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff;
        }
    }

    &_number {
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &_simple {
        height: 40px;
        &::placeholder {
            font-size: 12px;
            text-transform: uppercase;
            color: #333;
        }
    }
    &_textarea_simple {
        &::placeholder {
            font-size: 12px;
            text-transform: uppercase;
            color: #333;
        }
    }

    @media screen
    and (max-width: $tablet){
        height: 35px;
        padding-top: 8px;
        &_simple {
            font-size: 13px;
        }
    }
    @media screen
    and (max-width: $mobile){
    }
}

input.form-error {
    display: block;
    border-color: #BA001A;
    color: #BA001A;
    &:focus {
        border-color: #BA001A;
    }
    &::placeholder {
        color: #BA001A;
    }

}
label.form-error {
    display: block;
    color: $color;
    font-size: 12px;
    line-height: 20px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    &-field {
        display: flex;
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-check {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 17px;
        width: 17px;
        height: 17px;
        line-height: 17px;
        margin-top: 1px;
        margin-right: 10px;
        background-color: #fff;
        border: 1px solid #333333;
        font-size: 10px;
        color: transparent;
        text-align: center;
        &:before {
        }
        &:hover {
            cursor: pointer;
        }
    }
    &-label {
        font-size: 18px;
        letter-spacing: 0.022em;
        color: #19191D;
    }
    &-icon {
        visibility: hidden;
        width: 10px;
        height: 8px;
        margin-top: -1px;
        margin-left: 1px;
        background: url("../images/catalog/catalog-icons/check.svg") no-repeat 0 0;
    }
    &-input:checked + &-check &-icon {
        visibility: visible;
    }
}

.radio {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &-field-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 30px 25px 30px 32px;
        border: 2px solid #E0E0E0;
        border-radius: 15px;
        &:hover {
            box-shadow: 0px 0px 20px rgba(206, 206, 206, 0.4);
            border-color: transparent;
        }
    }
    &-item {
        margin-bottom: 14px;
    }
    &-field {
        &:hover {
        }
    }
    &-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-label {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.01em;
    }
    &-check {
        position: relative;
        width: 22px;
        height: 22px;
        margin-right: 11px;
        border-radius: 50%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0 0 6px rgba(206, 206, 206, 0.8);
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }
    }
    &-input:checked + &-check {
        &:after {
            background-color: $color-red;
        }
    }
    &-input:checked ~ &-label {
    }
}

.button {
    display: inline-block;
    padding: 6px 20px 7px;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    cursor: pointer;
    border-radius: 50em;
    -webkit-appearance: none;
    text-align: center;
    background-color: transparent;
    font-family: 'Gotham Pro', sans-serif;
    text-transform: uppercase;
    &:hover {
    }
    &:active {
    }
    &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }

    &_simple {
        padding: 11px 26px 9px;
        font-size: 10px;
        line-height: 1em;
        letter-spacing: 0.015em;
        color: #000000;
        font-weight: 500;
        background-color: rgba(235, 240, 250, 0.8);
        &:hover {
            background-color: #213194;
            color: #fff;
        }
        &:active {
            background-color: #0E1E82;
            color: #fff;
        }
    }

    &_simple-light {
        padding: 10px 16px 8px;
        font-size: 10px;
        line-height: 1em;
        color: #FFFFFF;
        background-color: transparent;
        border: 1px solid #F2F2F2;
        &:hover {
            color: #FFFFFF;
            outline: 1px solid #F2F2F2;
        }
        &:active {
            outline: 1px solid #F2F2F2;
        }
    }

    &_dark {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 13px 43px 11px 43px;
        font-size: 15px;
        line-height: 1.1em;
        color: #FFFFFF;
        font-weight: 500;
        background-color: #213194;
        transition: padding-right 0.2s linear;
        &:hover {
            padding-right: 60px;
            color: #FFFFFF;
        }
        &:active {
            padding-right: 60px;
            background-color: #0E1E82;
        }
    }
    &-icon {
        overflow: hidden;
        position: absolute;
        top: 6px;
        left: 100%;
        margin-left: -35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 0;
        background-color: #fff;
        border-radius: 50%;
        transition: width 0.25s ease-in-out, margin-left 0.25s ease-in-out;
    }
    &-icon-pic {
        margin-left: 3px;
    }
    &_dark:hover &-icon,
    &_dark:active &-icon {
        width: 28px;
        height: 28px;
    }

    &_wide {
        position: relative;
        align-items: center;
        padding: 13px 36px 11px;
        font-size: 15px;
        line-height: 1.1em;
        color: #FFFFFF;
        text-align: center;
        background-color: #213194;
        &:hover {
            color: #FFFFFF;
        }
        &:active {
            background-color: #0E1E82;
        }
    }

    &_light {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 12px 43px 12px 43px;
        font-size: 15px;
        line-height: 1.1em;
        transition: padding-right 0.2s linear;
        background-color: #FFFFFF;
        color: #213194;
        font-weight: 500;
        box-shadow: 0px 0px 15px rgba(193, 201, 220, 0.2);
        &:hover {
            color: #fff;
            background-color: #213194;
            box-shadow: none;
        }
        &:active {
            color: #fff;
            background-color: #0E1E82;
        }
    }
    &_light:hover &-icon,
    &_light:active &-icon {
        width: 28px;
        height: 28px;
    }
    &_modified {
        padding: 12px 35px 11px;
        border: 1px solid #213194;
        color: #213194;
        font-size: 15px;
        font-weight: 700;
        line-height: 1em;
        &:hover {
            color: #213194;
        }
        &:active {
            outline: 1px solid #213194;
            color: #213194;
        }
    }

    &_white {
        padding: 12px 35px 11px;
        border: 1px solid #fff;
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        line-height: 1em;
        &:hover {
            color: #fff;
        }
        &:active {
            outline: 1px solid #fff;
            color: #fff;
        }
    }

    &_long {
        width: 100%;
    }

    @media screen
    and (max-width: $desktop){
    }
    @media screen
    and (max-width: $tablet){
        &_simple {
            padding-left: 16px;
            padding-right: 16px;
        }
        &_simple-light {
            padding-left: 9px;
            padding-right: 9px;
        }
        &_dark {
            padding: 12px 46px 10px 32px;
            font-size: 13px;
            &:hover {
                padding-right: 46px;
            }
        }
        &_dark &-icon {
            width: 25px;
            height: 25px;
            margin-left: -30px;
        }
        &_dark:hover &-icon {
            width: 25px;
            height: 25px;
        }
        &_modified {
            padding: 10px 25px 10px;
            font-size: 13px;
        }
        &_light {
            padding: 10px 20px 9px;
            font-size: 13px;
        }
        &_light &-icon {
            top: 4px;
            margin-left: -30px;
        }
        &_light:hover &-icon,
        &_light:active &-icon {
            width: 25px;
            height: 25px;
        }
        &_wide {
            padding: 11px 22px 10px;
            font-size: 13px;
        }
        &_white {
            padding: 10px 20px 10px;
            font-size: 13px;
        }
        &-icon-pic {
            margin-top: 1px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &_modified {
            padding-top: 11px;
            padding-bottom: 9px;
        }
    }
}

/*selectric*/
.selectric-wrapper {}
.selectric {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 50em;
    background-color: transparent;
    padding: 10px 25px 10px 22px;
    border: 1px solid rgba(128, 152, 182, 0.7);
}
.selectric .label {
    margin: 0;
    height: auto;
    font-size: 15px;
    line-height: 22px;
    color: #111111;
    font-weight: 500;
}
.selectric:hover .label {
}
.selectric-open .label {
}
.selectric-items {
    top: calc(100% + 1px);
    min-width: 195px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border-width: 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
}
.selectric-above .selectric-items {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.07);
}
.selectric-items li {
    padding: 6px 22px;
    font-size: 14px;
    line-height: 24px;
    color: $color;
    @include fix-rows();
    -ms-line-clamp: 1;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}
.selectric-items li:hover {
    background-color: transparent;
    color: #213194;
}
.selectric-items li.highlighted {
    background-color: transparent;
}
.selectric-items li.selected {
    color: #213194;
    background-color: transparent;
}
.selectric-button {
    margin-top: 2px;
    margin-left: auto;
    padding-left: 8px;
    line-height: 0;
}
.selectric-open {
    z-index: 10;
}
.selectric-icon {
    display: inline-block;
    line-height: 0;
    min-width: 10px;
    width: 10px;
    height: 7px;
    background: url("../images/icons/arrow-bottom.svg") no-repeat 0 0;
    background-size: 100% auto;
}
.selectric-hover .selectric {
    border-color: rgba(128, 152, 182, 1);
}
.selectric-focus .selectric {
    border-color: rgba(128, 152, 182, 1);
}
.selectric-open .selectric {
    border-color: rgba(128, 152, 182, 1);
}
.selectric-open .selectric-icon {
    transform: scaleY(-1);
}
.selectric:hover .selectric-icon {
}
.selectric-items .select-disable {
    display: none;
}
.selectric-items .selectric-hidden {
    display: none;
}

.select-simple {}
.select-simple .selectric {
    border-color: #213194;
}
.select-simple .selectric .label {
    color: #213194;
}
.select-simple .selectric-icon {
    background-image: url("../images/icons/arrow-bottom-blue.svg");
}

@media screen
and (max-width: $tablet) {
    .selectric {
        height: 35px;
        padding: 9px 19px 9px 17px;
    }
    .selectric .label {
        font-size: 13px;
        line-height: 18px;
    }
    .selectric-icon {
        min-width: 8px;
        width: 8px;
        height: 5px;
    }
}

@media screen
and (max-width: $mobile) {
    .selectric-items {
        display: block;
        position: fixed;
        top: auto;
        bottom: -100%;
        left: 0;
        z-index: 1000;
        width: 100%!important;
        padding: 20px 30px;
        border-radius: 15px 15px 0 0;
        transition: bottom 0.3s ease-in-out;
    }
    .selectric-above .selectric-items {
        top: auto;
        bottom: -100%;
    }
    .selectric-items .selectric-hidden {
        display: block;
        border-bottom-width: 0;
        padding-top: 0;
        padding-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
    }
    .selectric-items li {
        padding-left: 0;
        padding-right: 0;
        font-size: 15px;
        line-height: 26px;
    }
    .selectric-button {
        padding-left: 5px;
    }
    .selectric-open {
        &:after {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .selectric-open .selectric-items {
        bottom: 0;
    }
    .select-simple .selectric {
        padding-left: 12px;
        padding-right: 15px;
    }
}
/*selectric*/

.switch {
    display: flex;
    align-items: center;
    position: relative;
    &-field {
        margin-bottom: 27px;
    }
    &-decor {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 35px;
        min-width: 35px;
        height: 22px;
        margin-right: 14px;
        padding: 2px;
        border-radius: 50em;
        background-color: #E4E8F1;
        cursor: pointer;
    }
    &-decor_simple {
        margin-right: 0;
    }
    &-icon {
        position: absolute;
        top: 4px;
        left: 5px;
        width: 13px;
        height: 13px;
        background-color: #fff;
        border-radius: 50%;
        transition: left 0.1s ease-in-out 0s;
    }
    &-label {
        line-height: 21px;
        font-size: 14px;
        color: #4F4F4F;
    }
    &-label a {
        color: #a0bbc9;
        &:hover {
            text-decoration: none;
            color: #a0bbc9;
        }
    }
    &-checkbox {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        opacity: 0;
    }
    &-checkbox:checked + &-decor {
        background-color: #213194;
    }
    &-checkbox:checked + &-decor &-icon {
        left: 17px;
    }

    @media screen
    and (max-width: $tablet){
        &-label {
            line-height: 17px;
            font-size: 12px;
            color: #4F4F4F;
        }
        &-decor {
            min-width: 31px;
            width: 31px;
            height: 15px;
            margin-right: 8px;
        }
        &-field {
            margin-bottom: 23px;
        }
        &-icon {
            top: 2px;
            width: 11px;
            height: 11px;
        }
    }
}


@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}
.load-more {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 18px;
    &-label {
    }
    &_active {}
    &-icon {
        display: none;
        vertical-align: middle;
        margin-left: 3px;
        width: 16px;
        height: 16px;
        margin-top: -3px;
        background: url("../images/icons/load-more-spinner.svg") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-block {
    }
    &-link {
        display: inline-block;
        padding-left: 32px;
        padding-right: 32px;
    }
    &-label {
        display: inline-block;
        font-size: 13px;
        line-height: 40px;
        color: #4F4F4F;
    }
    &-switcher {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 11px;
        color: $color;
    }
    &_active &-icon {
        display: inline-block;
        animation: preloader-rotate 2s infinite linear;
    }
    &-pages {
        display: flex;
        justify-content: center;
    }

    @media screen
    and (max-width: $tablet){
        &-link {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
