
.header {
    &-top {
        border-bottom: 1px solid rgba(128, 152, 182, 0.5);
    }
    &-top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 86px;
        padding-top: 27px;
        padding-bottom: 17px;
    }
    &-top-item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-top-item_phone {}
    &-top-item_phone-simple {}
    &-top-item_presentation {}
    &-top-item_callback {}
    &-top-item_socials {}
    &-phone {
        position: relative;
    }
    &-phone-block {
        display: flex;
        align-items: center;
        margin-bottom: 9px;
    }
    &-phone-number {
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        white-space: nowrap;
        a {
            text-decoration: none;
        }
    }
    &-phone-switcher {
        display: none;
        padding: 5px;
        margin-left: 2px;
        line-height: 0;
    }
    &-logo {
        display: block;
        min-width: 168px;
        width: 168px;
    }
    &-phone-department {
        font-size: 11px;
        line-height: 11px;
        color: #1B1B1B;
    }
    &-phone-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: -20px;
        z-index: 3;
        width: 200px;
        background-color: #fff;
        padding: 20px 20px 22px;
        box-shadow: 0px 0px 40px rgba(206, 206, 206, 0.3);
        border-radius: 0px 5px 5px 5px;
    }
    &-phone-list {}
    &-phone-list-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-phone-list-number {
        font-weight: 700;
        font-size: 18px;
        line-height: 17px;
        color: #000000;
        white-space: nowrap;
        a {
            text-decoration: none;
        }
    }
    &-phone-list-department {
        font-size: 11px;
        line-height: 11px;
        color: #1B1B1B;
    }
    &-phone_active {}
    &-phone_active &-phone-dropdown {
        display: block;
    }

    &-callback {
        display: flex;
        align-items: center;
    }
    &-callback-label {
        margin-right: 10px;
        font-size: 11px;
        line-height: 13px;
        color: #1B1B1B;
    }
    &-callback-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(33, 49, 148, 0.9);
    }
    &-callback-icon {
        width: 15px;
        height: 15px;
        background: url("../images/icons/phone.svg") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-callback-link:hover {
        background-color: #213194;
    }
    &-callback-link:hover &-callback-icon {
        background-image: url("../images/icons/phone-light.svg");
    }

    &-menu {
        position: relative;
        display: flex;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 18px;
    }

    @media screen
    and (max-width: $desktop) {
    }
    @media screen
    and (max-width: $tablet){
        &-top-container {
            height: 63px;
            padding-top: 15px;
            padding-bottom: 12px;
        }
        &-top-item_phone {
            margin-left: auto;
        }
        &-top-item_logo {
            margin-right: 49px;
        }
        &-top-item_phone-simple {
            display: none;
        }
        &-top-item_presentation {
            margin-left: auto;
        }
        &-top-item_callback {
            margin-left: auto;
            margin-right: 15px;
        }
        &-logo {
            min-width: 140px;
            width: 140px;
        }
        &-phone-block {
            margin-bottom: 6px;
        }
        &-phone-number {
            font-size: 16px;
            line-height: 15px;
        }
        &-phone-switcher {
            display: block;
        }
        &-phone-department {
            font-size: 10px;
            line-height: 10px;
        }
        &-callback-label {
            display: none;
        }
        &-menu {
            padding-top: 14px;
            padding-bottom: 15px;
        }
        &-phone-list-number {
            margin-bottom: 6px;
            font-size: 16px;
            line-height: 15px;
        }
        &-phone-list-department {
            font-size: 10px;
            line-height: 10px;
        }
        &-callback-link {
            min-width: 35px;
            width: 35px;
            height: 35px;
        }
        &-callback-icon {
            width: 17px;
            height: 17px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-top-container {
            height: 61px;
            padding-top: 14px;
        }
        &-top-item_phone {
            display: none;
        }
        &-top-item_presentation {
            display: none;
        }
        &-top-item_socials {
            display: none;
        }
        &-menu {
            display: none;
        }
    }
}

.menu-catalog {
    margin-right: 37px;
    &-container {
        display: none;
    }
    &-switcher {
        display: inline-block;
        padding: 12px 34px 11px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.1em;
        color: #FFFFFF;
        background-color: #213194;
        border-radius: 50em;
        &:hover {
            color: #FFFFFF;
        }
    }

    &-container {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 7;
        width: 100%;
        padding-top: 5px;
        background-color: #fff;
    }
    &_active &-container {
        display: block;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        max-height: calc(100vh - 165px);
        overflow: auto;
    }
    &-item {
        width: 33.3%;
        margin-bottom: 39px;
        padding-right: 25px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-link {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        color: #111111;
        text-decoration: none;
    }
    &-decor-left {
        position: absolute;
        top: 0;
        right: 50%;
        z-index: -1;
        width: 100vw;
        max-width: none;
        height: 100%;
        background-color: #fff;
    }
    &-decor-right {
        position: absolute;
        top: 0;
        left: 49%;
        z-index: -1;
        width: 100vw;
        max-width: none;
        height: 100%;
        background-color: #fff;
    }
    &-block &-decor-left {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    }
    &-block &-decor-right {
        box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    }

    @media screen
    and (max-width: $tablet){
        margin-right: 20px;
        &-switcher {
            padding: 11px 22px 10px;
            font-size: 13px;
        }
        &-label {
            display: none;
        }
        &-icon {
            margin-right: 0;
        }
    }
    @media screen
    and (max-width: $mobile){
    }
}

.submenu-catalog {
    &-list {
        padding-top: 21px;
    }
    &-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-link {
        text-decoration: none;
    }
}

.main-menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    &-item {
        position: relative;
        margin-right: 26px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #000000;
        white-space: nowrap;
        &:hover {
            color: #213194;
        }
    }
    &-icon {
        margin-left: 12px;
    }
    &-link:hover &-icon {
        transform: scaleY(-1);
        background-image: url("../images/icons/arrow-bottom-blue.svg")
    }
    @media screen
    and (max-width: $tablet){
        &-item {
            margin-right: 16px;
        }
        &-link {
            font-size: 13px;
            line-height: 15px;
        }
        &-icon {
            min-width: 8px;
            width: 8px;
            height: 5px;
            margin-left: 8px;
        }
    }
}
.main-submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    z-index: 9;
    width: 242px;
    background-color: #fff;
    padding: 21px 20px 32px;
    box-shadow: 0px 0px 40px rgba(206, 206, 206, 0.3);
    border-radius: 0px 5px 5px 5px;
    &-item {
        margin-bottom: 23px;
        font-size: 15px;
        line-height: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-link {
        text-decoration: none;
        color: #000000;
        &:hover {
            color: #213194;
            font-weight: 500;
        }
    }
}
.main-menu-item:hover .main-submenu {
    display: block;
}

.mob {
    &-menu {
        display: none;
        overflow: hidden;
    }
    &-menu-switcher {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        min-width: 35px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #213194;
    }
    &-menu-switcher-close {
        display: block;
        line-height: 0;
        margin-top: -1px;
        margin-left: auto;
    }
    &-menu-switcher-icon {
        display: block;
    }
    &-menu-close-icon {
        display: block;
        width: 18px;
        height: 18px;
        background-size: 100% auto;
    }
    &-close-panel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        min-height: 58px;
        padding: 25px 23px 10px;
    }
    &-close-panel_simple {
    }
    &-nav {
        margin-bottom: 27px;
    }
    &-company {
        display: flex;
        align-items: center;
        text-decoration: none;
        &-logo {
            margin-right: 20px;
            text-decoration: none;
        }
    }
    &-close {
        position: relative;
        z-index: 3;
        display: block;
        padding: 5px;
        margin-left: auto;
        margin-right: -7px;
        background-color: #fff;
    }

    &-block {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: solid #eaeaea;
        border-width: 0 1px 1px 0;
        transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transform: translateX(-100%);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &-child {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transition: transform 0.4s cubic-bezier(.19,1,.22,1);
        transform: translateX(100%);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &-menu-decor {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    &-menu_active &-menu-decor {
        display: block;
    }
    &-block.open {
        transform: translateX(0);
    }
    &-block.open &-child {
        display: block;
    }
    &-child.open {
        transform: translateX(0);
    }

    .mob-is-levels { }
    &-block.mob-is-levels &-nav {
        height: 0;
        overflow: hidden;
    }
    &-block.mob-is-levels &-info {
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }

    &-child.mob-child-is-current {
        overflow-y: auto;
    }
    &-list {
        margin-left: 23px;
        margin-right: 23px;
    }
    &-list-item {
        border-bottom: 0.3px solid #E1E1E4;
        margin-bottom: -1px;
    }
    &-is-levels &-list-item {
        height: 0;
        overflow: hidden;
    }
    &-child.mob-child-is-current &-list-item {
        height: auto;
        overflow: visible;
    }
    &-back {
        display: flex;
        align-items: center;
        position: sticky;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 60px;
        padding: 20px 23px;
        background-color: #fff;
        &:hover {
            background-color: transparent;
            color: #8a8a8a;
        }
    }
    &-back-link {
        display: flex;
        align-items: center;
        margin-right: auto;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #8a8a8a;
        text-decoration: none;
    }
    &-close-link {}
    &-close-icon {
        display: block;
        width: 18px;
        height: 18px;
    }
    &-close-icon path {
        fill: #1B1B1B;
    }

    &-list-link {
        display: flex;
        align-items: center;
        min-height: 50px;
        padding-top: 11px;
        padding-bottom: 11px;
        text-decoration: none;
        font-size: 16px;
        line-height: 17px;
        color: #000000;
        &:hover {
            color: #202430;
        }
    }
    &-list-item_active {}
    &-list-item_active &-list-link {
        font-weight: 700;
    }

    &-list-current {
        display: flex;
        align-items: center;
        position: relative;
        min-height: 50px;
        padding: 10px 23px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        background-color: #f1f2f6;
        text-decoration: none;
        color: #202430;
        &:hover {
            color: #202430;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 18px;
            width: 12px;
            height: 7px;
            background: url("../images/header/mob-menu-arrow.png") no-repeat 0 0;
        }
    }

    &-list-child-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 57px;
        padding: 12px $gutter;
        text-decoration: none;
        font-size: 15px;
        line-height: 21px;
        color: #1d1d1d;
        &:hover {
            color: #1d1d1d;
        }
    }
    &-back-icon {
        display: block;
        width: 6px;
        height: 9px;
        margin-right: 10px;
        transform: scaleX(-1);
        background: url(../images/header/header-icons/arrow-right.svg) no-repeat 0 0;
    }
    &-list-img {
        margin-right: 13px;
        vertical-align: middle;
    }
    &-list-icon {
        display: block;
        width: 6px;
        height: 9px;
        margin-left: auto;
        line-height: 0;
        background: url(../images/header/header-icons/arrow-right.svg) no-repeat 0 0;
    }
    &-link {
        color: #1c1c1c;
    }


    &-list-category {
        display: block;
    }
    &-user-icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &-list-link:hover &-list-icon {
    }

    &-info {
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 28px;
        font-size: 15px;
        &:last-child {
            border-bottom-width: 0;
        }
    }
    &-info-title {
        display: block;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #1d1d1d;
    }
    &-info-label {
    }
    &-user-info {
        display: flex;
        align-items: center;
    }
    &-callback-button {
        line-height: 0;
    }
    &-socials-title {
        display: block;
        margin-bottom: 12px;
        font-size: 14px;
    }
    &-title {
        margin-top: 1px;
        margin-right: 10px;
        font-size: 14px;
        color: #2a364d;
        font-weight: 800;
        text-transform: uppercase;
    }
    &-header-link {
        margin-right: auto;
        font-size: 14px;
        font-weight: 700;
        color: $color;
        &:hover {
            text-decoration: none;
            color: $color;
        }
    }
    &-location {
        display: flex;
    }
    &-location-icon {
        width: 15px;
        height: 20px;
        margin-top: -1px;
        margin-right: 9px;
    }
    &-location-label {
        font-size: 15px;
        line-height: 17px;
        color: #000000;
    }
    &-info-name {
        margin-bottom: 11px;
        font-weight: 700;
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #333333;
    }
    &-phone-value {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: #000000;
        a {
            color: #000000;
            text-decoration: none;
        }
        a:hover {
            color: #000000;
            text-decoration: none;
        }
    }

    @media screen
    and (max-width: $tablet){
    }
    @media screen
    and (max-width: $mobile){
        &-menu {
            display: block;
        }
    }
}

body.mob-menu-show {
    overflow: hidden;
}

.socials {
    display: flex;
    &-item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(33, 49, 148, 0.9);
    }
    &-icon {
        display: block;
        background: no-repeat 0 0;
        background-size: 100% auto;
    }
    &-icon_tg {
        width: 15px;
        height: 13px;
        margin-left: -1px;
        background-image: url("../images/icons/socials-tg.svg");
    }
    &-icon_youtube {
        width: 16px;
        height: 11px;
        background-image: url("../images/icons/socials-youtube.svg");
    }
    &-link:hover {
        background-color: #213194;
    }
    &-link:hover &-icon_tg {
        background-image: url("../images/icons/socials-tg-light.svg");
    }
    &-link:hover &-icon_youtube {
        background-image: url("../images/icons/socials-youtube-light.svg");
    }
}

/* IE 11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}
/* /IE 11 */
