
.main-banner {
    position: relative;
    margin-bottom: 77px;
    &-list {
        height: 550px;
    }
    &-item {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #0F131E;
    }
    &-container {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none;
        width: 1500px;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1064px;
            max-width: none;
            height: 100%;
            background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.56) 66.17%, rgba(9, 19, 35, 0) 74.97%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 240px;
            max-width: none;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #0F131E 100%);
        }
    }
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        max-width: none;
        height: 100%;
        background: linear-gradient(90deg, #0F131E 0%, transparent 100%);
    }
    &-detail {
        position: relative;
        z-index: 1;
        width: 50%;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &-company {
        margin-bottom: 31px;
        font-size: 18px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &-name {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 43px;
        line-height: 54px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: 'Raleway', sans-serif;
    }
    &-info {
        display: flex;
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 26px;
    }
    &-info-icon {
        margin-top: 3px;
        margin-right: 16px;
    }
    &-info-inner {
        max-width: 427px;
        color: #fff;
    }
    &-block {
        position: absolute;
        right: 40px;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        width: 270px;
        min-height: 360px;
        padding: 30px 23px 141px;
        background-color: #213194;
        border-radius: 5px 5px 0 0;
        &:after {
            content: '';
            position: absolute;
            bottom: -47px;
            left: -73px;
            width: 185px;
            height: 183px;
            background: url("../images/main-banner/main-banner-decor.svg") no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-block-inner {
        font-size: 15px;
        line-height: 24px;
        color: #fff;
    }
    &-block-label {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 64px;
        line-height: 60px;
        color: #fff;
    }
    &-button {
        box-shadow: 0px 0px 40px rgba(1, 16, 26, 0.54);
    }
    &-slider-nav {
        position: relative;
    }
    &-slider-nav-block {
        position: absolute;
        top: -59px;
        right: 64px;
        z-index: 1;
    }

    &_simple {}
    &_simple &-list {
        height: 537px;
    }
    &_simple &-container {
        align-items: baseline;
    }
    &_simple &-img {
        width: 1700px;
    }

    @media screen
    and (max-width: $desktop){
        &-detail {
            width: 60%;
            padding-top: 46px;
            padding-bottom: 46px;
        }
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 60px;
        &-list {
            height: 400px;
        }
        &-detail {
            width: 50%;
        }
        &-img {
            width: max-content;
            &:before {
                width: 607px;
                background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.57) 63.59%, rgba(9, 19, 35, 0) 75.89%);
            }
        }
        &-company {
            margin-bottom: 25px;
            font-size: 15px;
            line-height: 24px;
        }
        &-name {
            font-size: 28px;
            line-height: 39px;
        }
        &-info {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 21px;
        }
        &-info-icon {
            margin-top: 3px;
            margin-right: 13px;
        }
        &-block {
            right: 30px;
            width: 213px;
            min-height: 260px;
            padding: 17px 13px 104px 19px;
            &:after {
                bottom: -29px;
                left: -51px;
                width: 129px;
                height: 127px;
            }
        }
        &-block-label {
            margin-bottom: 10px;
            font-size: 36px;
            line-height: 40px;
        }
        &-block-inner {
            font-size: 13px;
            line-height: 21px;
            letter-spacing: -0.02em;
        }
        &-slider-nav-block {
            top: -44px;
            right: 52px;
        }

        &_simple &-img {
            width: max-content;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-container {
            align-items: flex-start;
        }
        &-list {
            height: 637px;
        }
        &-img {
            &:before {
                width: 100%;
                background: linear-gradient(121.11deg, rgba(9, 19, 35, 0.57) 56.08%, rgba(9, 19, 35, 0) 69.48%);
            }
        }
        &-detail {
            width: 100%;
            padding-bottom: 288px;
        }
        &-block {
            left: 30px;
            right: auto;
            width: calc(100% - 60px);
            max-width: 450px;
            min-height: 246px;
            padding: 17px 19px 90px;
        }
        &-slider-nav {
            margin-left: 0;
            max-width: 510px;
        }
        &-company {
            font-size: 15px;
            line-height: 24px;
        }
    }
}

.geography {
    position: relative;
    margin-bottom: 88px;
    &-list {
        height: 537px;
    }
    &-item {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: #0F131E;
    }
    &-container {
        position: relative;
        height: 100%;
        display: flex;
    }
    &-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        max-width: none;
        width: 1700px;
        height: 100%;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1064px;
            max-width: none;
            height: 100%;
            background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.56) 66.17%, rgba(9, 19, 35, 0) 74.97%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 240px;
            max-width: none;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #0F131E 100%);
        }
    }
    &-pic {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        max-width: none;
        height: 100%;
        background: linear-gradient(90deg, #0F131E 0%, transparent 100%);
    }
    &-block {
        position: absolute;
        right: 40px;
        bottom: 0;
        z-index: 1;
        overflow: hidden;
        width: 270px;
        min-height: 360px;
        padding: 30px 23px 141px;
        background-color: #213194;
        border-radius: 5px 5px 0 0;
        &:after {
            content: '';
            position: absolute;
            bottom: -47px;
            left: -73px;
            width: 185px;
            height: 183px;
            background: url("../images/main-banner/main-banner-decor.svg") no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-block-inner {
        font-size: 15px;
        line-height: 24px;
        color: #fff;
    }
    &-block-label {
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 64px;
        line-height: 60px;
        color: #fff;
    }
    &-button {
        box-shadow: 0px 0px 40px rgba(1, 16, 26, 0.54);
    }
    &-slider-nav {
        position: relative;
    }
    &-slider-nav-block {
        position: absolute;
        top: -59px;
        right: 64px;
        z-index: 1;
    }

    &-detail {
        position: relative;
        z-index: 1;
        width: 50%;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &-name {
        margin-bottom: 30px;
        color: #fff;
    }
    &-content {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
        ul li {
            margin-bottom: 35px;
            margin-left: 0;
            &:before {
                display: none;
            }
        }
    }
    &-digit {
        font-size: 36px;
        font-weight: 500;
    }

    @media screen
    and (max-width: $desktop){
        &-detail {
            width: 60%;
            padding-top: 46px;
            padding-bottom: 46px;
        }
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 60px;
        &-name {
            margin-bottom: 18px;
        }
        &-list {
            height: 392px;
        }
        &-detail {
            width: 50%;
        }
        &-img {
            width: max-content;
            &:before {
                width: 607px;
                background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.57) 63.59%, rgba(9, 19, 35, 0) 75.89%);
            }
        }
        &-block {
            right: 30px;
            width: 213px;
            min-height: 260px;
            padding: 17px 13px 104px 19px;
            &:after {
                bottom: -29px;
                left: -51px;
                width: 129px;
                height: 127px;
            }
        }
        &-block-label {
            margin-bottom: 10px;
            font-size: 36px;
            line-height: 40px;
        }
        &-block-inner {
            font-size: 13px;
            line-height: 21px;
            letter-spacing: -0.02em;
        }
        &-slider-nav-block {
            top: -44px;
            right: 52px;
        }

        &-content {
            color: #fff;
            font-size: 14px;
            line-height: 21px;
        }
        &-content li {
            margin-bottom: 14px;
        }
        &-digit {
            font-size: 24px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-container {
            align-items: flex-start;
        }
        &-list {
            height: 566px;
        }
        &-img {
            &:before {
                width: 100%;
                background: linear-gradient(121.11deg, rgba(9, 19, 35, 0.57) 56.08%, rgba(9, 19, 35, 0) 69.48%);
            }
        }
        &-detail {
            width: 100%;
            padding-bottom: 288px;
        }
        &-block {
            left: 30px;
            right: auto;
            width: calc(100% - 60px);
            max-width: 450px;
            min-height: 246px;
            padding: 17px 19px 90px;
        }
        &-slider-nav {
            margin-left: 0;
            max-width: 510px;
        }
    }
}

.production {
    position: relative;
    margin-bottom: 85px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:after {
        content: '';
        position: absolute;
        top: 34px;
        left: -244px;
        width: 213px;
        height: 359px;
        background: url("../images/production/production-decor.png") no-repeat 0 0;
        background-size: 100% auto;
    }
    &-title {
    }
    &-wrapper {
        position: relative;
        width: 100%;
    }
    &-inner {
        overflow: hidden;
        margin: -20px;
        padding: 20px;
    }
    &-list {
        display: flex;
    }
    &-list-item {
        width: 270px;
        height: auto;
    }

    @media screen
    and (max-width: $tablet){
        margin-bottom: 65px;
        &:after {
            top: -27px;
            left: -151px;
            width: 180px;
            height: 304px;
        }
        &-list-item {
            width: 213px;
        }
        &-inner {
            overflow: visible;
        }
    }
    @media screen
    and (max-width: $mobile){
        flex-direction: column;
        align-items: baseline;
        &:after {
            display: none;
        }
        &-wrapper {
            margin-bottom: 30px;
        }
    }
}

.section-button {
    margin-left: auto;
    margin-bottom: 31px;

    @media screen
    and (max-width: $tablet){
        margin-bottom: 21px;
    }
    @media screen
    and (max-width: $mobile){
        order: 1;
        margin-right: auto;
        margin-bottom: 0;
    }
}

.product {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 25px 26px;
    background-color: #ECF0FA;
    border-radius: 5px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
    }
    &-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 190px;
        margin-bottom: 6px;
    }
    &-pic {}
    &-price {
        display: block;
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #131A29;
    }
    &-button {
        width: 100%;
        margin-top: auto;
        justify-content: center;
    }
    &-name {
        display: block;
        min-height: 69px;
        margin-bottom: 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        color: #111111;
        letter-spacing: -0.03em;
    }
    &-props {
        margin-bottom: 20px;
    }
    &-props-item {
        display: flex;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.01em;
        color: #111111;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-props-name {
        width: 85%;
        padding-right: 10px;
    }
    &-props-value {
        width: 15%;
        margin-left: auto;
        text-align: right;
    }
    &:hover &-button {
        color: #fff;
        background-color: #213194;
        box-shadow: none;
    }
    &-props-label { }
    &-props-point {
        display: none;
    }
    @media screen
    and (max-width: $tablet){
        padding: 14px 20px 21px;
        &-img {
            height: 160px;
            margin-bottom: 7px;
        }
        &-price {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 20px;
        }
        &-name {
            min-height: 66px;
            margin-bottom: 12px;
            font-size: 15px;
            line-height: 22px;
        }
        &-props {
            margin-bottom: 18px;
        }
        &-props-item {
            margin-bottom: 9px;
        }
        &-props-name {
            padding-right: 5px;
        }
        &-props-label {
            display: none;
            &:after {
                content: '.';
                display: block;
            }
        }
        &-props-point {
            display: inline-block;
        }
    }
}

.marks {
    position: absolute;
    top: 10px;
    left: 0;
    &-item {
        display: block;
        margin-bottom: 5px;
    }
    &-label {
        display: block;
        min-width: 56px;
        padding: 4px 10px 5px;
        background-color: #FF9016;
        border-radius: 3px;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    &-label_hit {
        background-color: #213194;
    }
    &-label_new {
        padding-top: 5px;
        padding-bottom: 4px;
        font-size: 13px;
        font-weight: 700;
    }

    @media screen
    and (max-width: $tablet){
        top: 7px;
        &-label {
            min-width: 40px;
            padding: 2px 8px 2px;
            font-size: 12px;
        }
    }
}

.advantages {
    position: relative;
    min-height: 536px;
    background-color: #0F131E;
    &-container {
        position: relative;
        z-index: 1;
        display: flex;
        padding-top: 99px;
        padding-bottom: 69px;
    }
    &-detail {
        width: 34%;
        padding-right: 38px;
        padding-top: 14px;
    }
    &-name {
        margin-bottom: 30px;
        color: #fff;
    }
    &-info {
        margin-bottom: 32px;
        color: #fff;
    }
    &-block {
        width: 66%;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    &-list-item {
        width: 50%;
        margin-bottom: 30px;
        padding-right: 15px;
        padding-left: 15px;
    }
    &-list-block {
        height: 100%;
        min-height: 153px;
        padding: 26px 20px 26px 30px;
        border: 1px solid #FFFFFF;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
        &:hover {
            background-color: #213194;
            border-color: #213194;
        }
    }
    &-list-name {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.055em;
        text-transform: uppercase;
        color: #fff;
    }
    &-list-icon {
        min-width: 31px;
        width: 31px;
        height: 32px;
        margin-right: 16px;
    }
    &-list-info {
        color: #fff;
        font-size: 16px;
        line-height: 26px;
    }
    &-label {}
    &-point {
        display: none;
    }
    &-decor {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1700px;
        max-width: 100%;
        height: 100%;
        transform: translateX(-50%);
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 240px;
            max-width: none;
            height: 100%;
            background: linear-gradient(90deg, #0F131E 0%, transparent 100%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 240px;
            max-width: none;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #0F131E 100%);
        }
    }
    &-img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media screen
    and (max-width: $tablet){
        min-height: 392px;
        &-container {
            padding-top: 50px;
            padding-bottom: 26px;
        }
        &-name {
            margin-bottom: 16px;
        }
        &-info {
            margin-bottom: 19px;
            font-size: 14px;
            line-height: 21px;
        }
        &-list-block {
            padding: 19px 20px 19px;
            min-height: 134px;
        }
        &-list {
            margin-right: -10px;
            margin-left: -10px;
        }
        &-list-item {
            margin-bottom: 24px;
            padding-right: 10px;
            padding-left: 10px;
        }
        &-list-name {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.02em;
        }
        &-list-icon {
            margin-right: 12px;
        }
        &-list-info {
            font-size: 14px;
            line-height: 21px;
            letter-spacing: -0.02em;
        }
        &-label {
            display: none;
        }
        &-point {
            display: inline-block;
        }
        &-decor {
            &:before {
                width: 690px;
                background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.57) 63.59%, rgba(9, 19, 35, 0) 75.89%);
            }
            &:after {
                display: none;
            }
        }
        &-list-icon {
            min-width: 23px;
            width: 23px;
            height: 23px;
            margin-right: 12px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-container {
            flex-wrap: wrap;
            padding-top: 45px;
            padding-bottom: 52px;
        }
        &-detail {
            width: 100%;
            padding-top: 0;
            padding-right: 0;
            margin-bottom: 35px;
        }
        &-block {
            width: 100%;
        }
        &-list-item {
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-list-block {
            min-height: 111px;
        }
        &-decor {
            &:before {
                width: 100%;
                height: 100%;
                background: linear-gradient(109.17deg, rgba(9, 19, 35, 0.57) 63.59%, rgba(9, 19, 35, 0) 75.89%);
            }
        }
    }
}

.basic {
    overflow: hidden;
    position: relative;
    background-color: #213194;
    &-container {
        position: relative;
        z-index: 1;
        min-height: 235px;
        padding-top: 42px;
        padding-bottom: 53px;
        &:after {
            content: '';
            position: absolute;
            bottom: 50px;
            right: -120px;
            width: 95px;
            height: 88px;
            background: url("../images/basic/basic-decor.png") no-repeat 0 0;
        }
    }
    &-decor {
        overflow: hidden;
        position: absolute;
        top: -332px;
        left: 50%;
        width: 1700px;
        max-width: 100%;
        height: 821px;
        transform: translateX(-50%);
        background: url("../images/basic/basic-bgr.jpg") no-repeat center top;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 100%;
            background: linear-gradient(90deg, #213194 0%, transparent 100%);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 100%;
            background: linear-gradient(90deg, transparent 0%, #213194 100%);
        }
    }
    &-decor-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 49, 148, 0.85);
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-list-item {
        width: 33.3%;
        padding-right: 30px;
        text-align: center;
        &:last-child {
            padding-right: 0;
        }
    }
    &-list-name {
        margin-bottom: 5px;
        font-weight: 700;
        font-size: 96px;
        line-height: 110px;
        color: #FFFFFF;
    }
    &-list-info {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }

    @media screen
    and (max-width: $desktop){
        &-list-name {
            font-size: 82px;
            line-height: 100px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-container {
            min-height: 150px;
            padding-top: 30px;
            padding-bottom: 32px;
        }
        &-list-name {
            margin-bottom: 8px;
            font-size: 55px;
            line-height: 63px;
        }
        &-list-info {
            font-size: 14px;
            line-height: 16px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-container {
            padding-top: 30px;
            padding-bottom: 46px;
        }
        &-list {
            flex-wrap: wrap;
        }
        &-list-item {
            width: 100%;
            margin-bottom: 32px;
            padding-right: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-decor {
            top: -1px;
            height: 520px;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }
        &-list-name {
            margin-bottom: 3px;
            font-size: 64px;
            line-height: 74px;
        }
    }
}

@keyframes play-button {
    0% {
        box-shadow: 0 0 1px 0 rgba(177, 179, 180,.65), 0 0 1px 0 #bfe0fe
    }
    33% {
        box-shadow: 0 0 1px 15px rgba(177, 179, 180,.47), 0 0 1px 0 rgba(255,255,255,.65)
    }
    66% {
        box-shadow: 0 0 1px 30px rgba(177, 179, 180,0), 0 0 1px 10px rgba(255,255,255,.47)
    }
    100% {
        box-shadow: 0 0 1px 0 rgba(177, 179, 180,0), 0 0 1px 20px rgba(255,255,255,0)
    }
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 94px;
    background-color: #fff;
    border-radius: 50%;
    animation: 2s linear infinite play-button;
    &-icon {
        width: 40px;
        height: 47px;
        margin-left: 11px;
        background: url(../images/icons/play.svg) no-repeat 0 0;
        background-size: 100% auto;
    }
    @media screen
    and (max-width: $tablet){
        width: 66px;
        height: 66px;
        &-icon {
            width: 28px;
            height: 33px;
            margin-left: 9px;
        }
    }
}

.company {
    overflow: hidden;
    &-container {
        position: relative;
        display: flex;
        padding-top: 85px;
        padding-bottom: 85px;
        &:before {
            content: '';
            position: absolute;
            top: 2px;
            left: -1358px;
            width: 1393px;
            max-width: none;
            height: 1347px;
            background: url("../images/company/company-bgr-1.png") no-repeat 0 0;
        }
        &:after {
            content: '';
            position: absolute;
            top: 42px;
            left: 108px;
            z-index: -1;
            width: 114px;
            max-width: none;
            height: 110px;
            background: url("../images/company/company-bgr-2.png") no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-detail {
        width: 41%;
        padding-top: 10px;
        padding-right: 30px;
    }
    &-video {
        width: 51%;
        margin-left: auto;
    }
    &-content {
        margin-bottom: 34px;
    }
    &-link {
        display: block;
        position: relative;
        width: 862px;
        height: 458px;
    }
    &-pic {
        border-radius: 5px;
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-play {
        margin-left: -55px;
    }

    @media screen
    and (max-width: $desktop){
        &-play {
            margin-left: 0;
        }
        &-link {
            width: 650px;
        }
    }
    @media screen
    and (max-width: $tablet){
        &-container {
            padding-top: 65px;
            padding-bottom: 65px;
            &:after {
                top: 23px;
                left: 79px;
                width: 82px;
                height: 82px;
            }
        }
        &-detail {
            width: 50%;
        }
        &-video {
            width: 50%;
        }
        &-link {
            width: 495px;
            height: 413px;
        }
    }
    @media screen
    and (max-width: $mobile){
        &-container {
            flex-direction: column;
            padding-top: 57px;
            &:after {
                top: 30px;
                left: 26px;
            }
        }
        &-detail {
            width: 100%;
            padding-right: 0;
            margin-bottom: 35px;
        }
        &-video {
            width: auto;
            margin-left: -30px;
            margin-right: -30px;
        }
        &-link {
            width: 100%;
            height: 307px;
        }
        &-pic {
            border-radius: 0;
        }
    }
}


.avail {
    padding-bottom: 75px;
    &-container {
        position: relative;
        display: flex;
        &:before {
            content: '';
            position: absolute;
            top: 19px;
            left: -673px;
            width: 742px;
            height: 827px;
            background: url("../images/avail/avail-decor-1.png") no-repeat 0 0;
            background-size: 100% auto;
        }
        &:after {
            content: '';
            position: absolute;
            top: 54px;
            right: -491px;
            width: 534px;
            height: 867px;
            background: url("../images/avail/avail-decor-2.png") no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-detail {
        width: 45%;
        padding-top: 30px;
        padding-right: 30px;
    }
    &-img {
        width: 55%;
    }
    &-content {
        ul {
            margin-bottom: 0;
        }
        ul li {
            margin-left: 35px;
            margin-bottom: 23px;
            &:before {
                margin-left: -28px;
                min-width: 18px;
                width: 18px;
                height: 18px;
                background: url("../images/icons/check-dark.svg") no-repeat 0 0;
            }
        }
    }
    &-name {
        max-width: 417px;
        margin-bottom: 28px;
    }
    &-img-inner {
        float: right;
    }
    &-banners {
        display: flex;
    }
    &-banners-item {
        width: 271px;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-banners-link {
        position: relative;
        display: block;
        height: 359px;
        overflow: hidden;
        padding: 25px 18px 30px 25px;
        border-radius: 5px;
        background-color: #ECF0FA;
        text-decoration: none;
        &:hover {
            background-color: #213194;
        }
    }
    &-banners-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-banners-name {
        position: relative;
        z-index: 1;
        display: block;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        color: #000000;
    }
    &-banners-info {
        position: relative;
        z-index: 1;
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
    }
    &-banners-link:hover &-banners-name {
        color: #fff;
    }
    &-banners-link:hover &-banners-info {
        color: #fff;
    }
    &-banners-link_free-delivery {
    }
    &-banners-link_free-delivery &-banners-info {
        max-width: 165px;
    }

    @media screen
    and (max-width: $desktop) {
        &-banners-item {
            width: 245px;
        }
    }
    @media screen
    and (max-width: $tablet) {
        padding-bottom: 60px;
        &-detail {
            padding-top: 0;
        }
        &-name {
            margin-bottom: 16px;
        }
        &-banners-item {
            margin-right: 20px;
            width: 175px;
        }
        &-banners-link {
            height: 260px;
            padding: 20px;
        }
        &-banners-name {
            margin-bottom: 8px;
            font-size: 18px;
            line-height: 22px;
        }
        &-banners-info {
            line-height: 19px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-container {
            flex-direction: column;
        }
        &-detail {
            width: 100%;
            padding-right: 0;
            margin-bottom: 30px;
        }
        &-img {
            width: 100%;
        }
        &-img-inner {
            float: none;
        }
        &-banners {
            margin-left: 0;
        }
    }
}

.stories {
    &-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-block {
        position: relative;
        width: 100%;
    }
    &-inner {
        overflow: hidden;
        margin: -30px;
        padding: 30px;
    }
    &-list {
        display: flex;
    }
    &-list-item {
    }
    &-list-link {
        display: block;
        overflow: hidden;
        border-radius: 5px;
        background-color: #ECF0FA;
        text-decoration: none;
        &:hover {
            box-shadow: 0px 0px 30px rgba(206, 206, 206, 0.4);
            background-color: #fff;
        }
    }
    &-list-img {
        display: block;
        width: 100%;
        height: 192px;
    }
    &-list-block {
        display: block;
        padding: 19px 20px 30px 26px;
    }
    &-list-title {
        display: block;
        margin-bottom: 17px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        color: #111111;
    }
    &-list-name {
        display: block;
        margin-bottom: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.025em;
    }
    &-list-info {
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.01em;
        color: #4F4F4F;
    }
    &-list-more {
        font-size: 15px;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-decoration-line: underline;
        color: #111111;
        font-weight: 500;
    }

    @media screen
    and (max-width: $tablet) {
        &-list-item {
            width: 213px;
        }
        &-list-img {
            height: 159px;
        }
        &-list-block {
            padding: 15px 15px 26px 20px;
        }
        &-list-title {
            margin-bottom: 12px;
            font-size: 15px;
            line-height: 22px;
        }
        &-list-name {
            margin-bottom: 17px;
            font-size: 11px;
            line-height: 14px;
        }
        &-list-info {
            margin-bottom: 13px;
            font-size: 14px;
            line-height: 22px;
        }
        &-list-more {
            font-size: 14px;
            line-height: 18px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-block {
            margin-bottom: 25px;
        }
        &-list-block {
            padding: 19px 15px 27px 25px;
        }
        &-list-item {
            width: 273px;
        }
        &-list-img {
            height: 181px;
        }
        &-list-title {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 24px;
        }
        &-list-name {
            margin-bottom: 21px;
            font-size: 14px;
            line-height: 18px;
        }
        &-list-more {
            font-size: 15px;
            line-height: 19px;
        }
    }
}

.feedback {
    position: relative;
    background-color: #EBF0FA;
    &-box {
        overflow: hidden;
        position: relative;
        padding-top: 46px;
        padding-bottom: 52px;
        &:before {
            content: '';
            position: absolute;
            bottom: 18px;
            left: 50%;
            margin-left: 186px;
            width: 125px;
            height: 113px;
            background: url("../images/feedback/feedback-decor-3.png") no-repeat -213px -30px;
        }
    }
    &-container {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -171px;
            left: -524px;
            width: 541px;
            height: 827px;
            max-width: none;
            background: url("../images/feedback/feedback-decor-1.png") no-repeat 0 0;
            background-size: 100% auto;
        }
        &:after {
            content: '';
            position: absolute;
            top: -352px;
            right: -535px;
            width: 716px;
            height: 572px;
            max-width: none;
            background: url("../images/feedback/feedback-decor-2.png") no-repeat 0 0;
            background-size: 100% auto;
        }
    }
    &-name {
        position: relative;
        z-index: 1;
        margin-bottom: 23px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #1F2529;
    }
    &-name-label {}
    &-name-link {
        text-decoration: none;
        white-space: nowrap;
        font-family: 'Gotham Pro', sans-serif;
    }
    &-content {
        margin-bottom: 30px;
        max-width: 810px;
    }

    @media screen
    and (max-width: $tablet) {
        &:before {
            content: '';
            position: absolute;
            top: -28px;
            right: 6px;
            width: 78px;
            height: 76px;
            background: url("../images/feedback/feedback-decor-4.png") no-repeat 0 0;
            background-size: 100% auto;
        }
        &-box {
            padding-top: 32px;
            padding-bottom: 37px;
            &:before {
                bottom: -64px;
                margin-left: -67px;
                width: 144px;
                background-size: 100% auto;
                background-position: 0 0;
            }
        }
        &-container {
            &:before {
                top: -250px;
                left: -477px;
            }
            &:after {
                top: auto;
                bottom: -294px;
                right: -276px;
                width: 400px;
            }
        }
        &-name {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 23px;
        }
        &-content {
            margin-bottom: 20px;
            max-width: 650px;
        }
        &-button {
            padding-left: 22px;
            padding-right: 46px;
        }
    }
    @media screen
    and (max-width: $mobile) {
        &-name-label {
            display: block;
        }
        &-box {
            padding-top: 28px;
            padding-bottom: 33px;
            &:before {
                display: none;
            }
        }
        &-container {
            &:before {
                top: -180px;
                left: -381px;
                width: 441px;
            }
            &:after {
                bottom: -301px;
            }
        }
    }
}

.main-block {
    height: 258px;
    margin-bottom: 45px;
    background-color: #213194;
    &-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 38px;
        padding-bottom: 38px;
    }
    &-title {
        position: relative;
        z-index: 1;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 50px;
        line-height: 80px;
        color: #fff;
    }

    &_catalog-category {}
    &_catalog-category &-container {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -44px;
            height: 100%;
            width: 905px;
            background: url("../images/catalog-category/catalog-category-bgr-1.png") no-repeat 0 0;
            background-size: cover;
        }
    }

    @media screen
    and (max-width: $tablet) {
        height: 193px;
        margin-bottom: 40px;
        &-container {
            padding-top: 34px;
            padding-bottom: 34px;
        }
        &-title {
            font-size: 36px;
            line-height: 50px;
        }
        &_catalog-category &-container {
            &:after {
                left: auto;
                right: 0;
                width: 502px;
                margin-left: 0;
                background-image: url("../images/catalog-category/catalog-category-bgr-2.png");
            }
        }
    }
    @media screen
    and (max-width: $mobile) {
        margin-bottom: 34px;
        height: 271px;
        &_catalog-category &-container {
            &:after {
                top: auto;
                bottom: 0;
                left: 50%;
                right: auto;
                width: 327px;
                height: 171px;
                transform: translateX(-50%);
                background-image: url("../images/catalog-category/catalog-category-bgr-3.png");
            }
        }
    }
}